<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>Race status: </td>
    <td>{status}</td>
  </tr>
  <tr>
    <td>Start date: </td>
    <td>{started}</td>
  </tr>
  <tr>
    <td>Ending conditions </td>
    <td>{conditions}</td>
  </tr>
  <tr>
    <td colspan="2"><h3>Top 20 members </h3>
      <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="2">
        <tr bordercolor="#006699" bgcolor="#efefef">
          <td width="7%"><h5>Place</h5></td>
          <td width="45%"><h5>Name</h5></td>
          <td width="48%"><h5>Referals</h5></td>
        </tr>
        {top_list}
      </table></td>
  </tr>
</table>
