<div id="div_form" name="div_form">
  <form id="form1" name="form1" method="{send_method}" action="{form_switch}">
    <p>&nbsp;</p>
    <table border="0" width="100%" style="border-collapse: collapse" bordercolor="#111111" cellpadding="0" cellspacing="0">
      {error}
      {signup_list}
      <tr>
        <td align="right">{description_country} &nbsp;</td>
        <td>{shiping_country_list}{required_country}</td>
      </tr>
      <tr>
        <td align="right"> {promo}</td>
      </tr>
      {code_signup}
<!-- Terms of Service -->
      <tr>
        <td colspan="2"><div align="center">
            <input name="terms" id="terms" value="1" type="checkbox">
            <label for="terms">I accept the <a href="terms.php" target="_blank">terms &amp; conditions</a></label>
          </div></td>
      </tr>
<!-- End Terms -->
      <tr>
        <td colspan="2"><div align="center">
          {captcha}
          </div>
        </td>
      </tr>
      {arp_fields}
      <tr>
        <td><div align="right">*</div><br /></td>
        <td width="332">Denotes required</td>
      </tr>
      <tr>
        <td><div align="right">
            <input name="Submit" value="Submit" type="submit">
          </div></td>
        <td><br></td>
      </tr>
    </table>
  </form>
</div>
