<META HTTP-EQUIV=Refresh CONTENT="3; URL=view.autoresponder.stats.php?id={autoresponder_id}">
<center>
  <a href="autoresponder.php"> << Back </a>
</center>
<br>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="257" valign="top">Message from: </td>
    <td width="243">{message_from}</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">Message subject: </td>
    <td>{message_subject}</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">Message header: </td>
    <td>{message_header}</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">Message body: </td>
    <td>{message_body}</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">Message footer: </td>
    <td>{message_footer}</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">Sent to: </td>
    <td>{message_membership} members</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">Sent to users: </td>
    <td>{message_days} after signup</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">To send: </td>
    <td>{message_count}</td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><hr size="1"></td>
  </tr>
  <tr>
    <td valign="top">Left to send:</td>
    <td>{message_left} </td>
  </tr>
</table>
<p align="center"><a href="autoresponder.php"><< Back </a></p>
