<form name="form1" method="post" action="do.reset.php?page={membership_search_url}">
  <table width="700"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">{tag_list}</td>
    </tr>
    <tr>
      <td colspan="2">Use the tags above in the emails. Don't forget to include the tag: {password} for this will be the one sent to the members. </td>
    </tr>
    <tr>
      <td width="53%">Change password for selected members ({members} selected) to: </td>
      <td width="47%"><input name="reset" type="text" id="reset"></td>
    </tr>
    <tr>
      <td><strong>Send the following email to those members: </strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Subject:</td>
      <td><input name="email_subject" type="text" id="email_subject" value="{reset_email_subject}"></td>
    </tr>
    <tr>
      <td valign="top">Body:</td>
      <td><textarea name="email_body" cols="40" rows="7" id="email_body">{reset_email_body}</textarea></td>
    </tr>
    <tr>
      <td valign="top"><input type="submit" name="Submit" value="Submit">
        <input name="membersreset" type="hidden" id="membersreset" value="{member_ids}"></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
