<tr>
  <td colspan="6"><br>
    <input type=checkbox name="verticalmenu{category_name}" value="1" {checked}>
    <b>Default 
    Menu is set to Horizontal (across),</b> <b>If you want this menu to be vertical 
    (Up/Down) please check this checkbox. </b><font color="#FF0000"><b>Note:</b></font> If you check this box. Your Site will use a new template called &quot;The main 
    template-Vertical&quot; That you need to edit in the | <u><font color="#0000FF">Site 
    Templates</font></u> | option in the main menu. It is best to use the same html 
    you used for the &quot;The main template&quot; to keep the site looking the same if you 
    ever switch back<br></td>
</tr>
<tr>
  <td colspan="6">&nbsp;</td>
</tr>
