<div align="center">
  <center>
    <table width="100%" align="center" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse">
      <tr>
        <td valign="top"><form action="do.delete.messages.php" method="post" enctype="multipart/form-data" name="form1" id="form1">
            <p><font size="5" color="#076C9F"><b>Help Desk Tickets</b></font></p>
            <table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
              <tr bgcolor="#000000">
                <td width="721" height="20" align="center" bgcolor="#FFFFFF"><p align="left" class="style2" style="margin-left: 10"><strong> Current Inbox</strong></p></td>
              </tr>
              <tr>
                <td><table width="550" border="0" align="center">
                    <tr>
                      <td bgcolor="#CCCCCC">&nbsp;</td>
                      <td bgcolor="#CCCCCC"><strong>Id</strong></td>
                      <td bgcolor="#CCCCCC"><strong>From</strong></td>
                      <td bgcolor="#CCCCCC"><strong>Subject</strong></td>
                      <td bgcolor="#CCCCCC"><strong>Date</strong></td>
                      <td bgcolor="#CCCCCC"><strong>Time</strong></td>
                    </tr>
                    {messages_rows}
                  </table>
                  <br /></td>
              </tr>
              <tr>
                <td><center>
                    <font style="font-size: 10pt">
                    <input name="select_members" type="button" id="select_members" value="Check All" onclick="checkedAll (true,'form1');"/>
                    <input name="unselect_members" type="button" id="unselect_members" value="Uncheck All" onclick="checkedAll (false,'form1');"/>
                    <input name="save_button" type="submit" id="save_button" value="Delete Selected" />
                    </font>
                  </center></td>
              </tr>
            </table>
          </form></td>
      </tr>
    </table>
  </center>
</div>
