body {
	font-family: Verdana;
	font-size:11px;
}
td {
	font-family: Verdana;
	font-size:11px;
}
th {
	font-family: Verdana;
	font-size:11px;
}
.a {
	color: #FFFFFF;
}
.border {
	border: 1 solid #000066;
}
.tblr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}
.tblh {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}

/* Extra Styles */
p.warn {
    background: #FBEEF1 url(../images/warn.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #FEABB9;
    border-bottom: 2px solid #FEABB9;
}
p.alert {
    background: #FFF7C0 url(../images/exc.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #F7D229;
    border-bottom: 2px solid #F7D229;
}
p.info {
    background: #F8FAFC url(../images/info.png) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #B5D4FE;
    border-bottom: 2px solid #B5D4FE;
}

.style_aff1 {
  font-size: 13px;
  font-weight: bold;
}
