<h2><font color="#076C9F">One Time Offer Email Backup</font></h2>
<p><font color="#000000">This section is used to send email to members who didn't buy the One Time Offer, a number of days after signup with a link to buy the One Time Offer again. You can also send this email from your 3rd party autoresponder but that way you cannot control the membership of the members who receive the email. </font>If you are using the 3rd party autoresponder then send this link to members: 
  {link} make sure the email is set to active or the page won't work and members will be redirected to the normal login page. </p>
<h3>Settings</h3>
<p>Tags to use in email: {taglist} {special_oto_link} </p>
<form name="form1" method="post" action="do.save.otobcke.php">
  <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td>Activate Email </td>
      <td><input name="otobckeactive" type="checkbox" id="otobckeactive" value="1" {otobckeactive1}></td>
    </tr>
    <tr>
      <td>Email subject: </td>
      <td><input name="otobckes" type="text" id="otobckes" value="{otobckes}" size="70"></td>
    </tr>
    <tr>
      <td valign="top">Email body: </td>
      <td><textarea name="otobckeb" cols="70" rows="8" id="otobckeb">{otobckeb}</textarea></td>
    </tr>
    <tr>
      <td>Send to member </td>
      <td><input name="otobckedays" type="text" value="{otobckedays}" size="3">
        days after signup </td>
    </tr>
    <tr>
      <td>Send to free members only: </td>
      <td><input name="otobckem" type="radio" value="1" {otobckem1}>
        (in case you are running a paid signup site the free membership is considered the </td>
    </tr>
    <tr>
      <td>Send to all members: </td>
      <td><input name="otobckem" type="radio" value="2" {otobckem2}>
        one they get when they purchase the paid signup product) </td>
    </tr>
    <tr>
      <td colspan="2">I'm going to use script mailing system
        <input name="otobckeusescript" type="checkbox" id="otobckeusescript" value="1" {otobckeusescript1}>
        (unchecking means you are using 3rd party autoresponder to send link) </td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="Submit" value="Activate Email"></td>
    </tr>
  </table>
</form>
<p><font color="#000000"></font></p>
<p>&nbsp;</p>
