<table>
  <tr>
    <td valign="top"><b>Name</b>:
      <input name="name[{product_id}]" type="text" value="{product_name}" size="60">
      <br>
      Product ID# <font color="#CC0000"><b>{product_id} </b></font></td>
    <td colspan="1" valign="top"><b>Unique ID</b> for Paypal:
      <input name="nid[{product_id}]" type="text" value="{product_nid}" size="20">
      <br>
      Use <b><font color="#CC0000">{{product_nid}}</font></b> for payment button</td>
  </tr>
  <tr>
    <td colspan="2"><input type="checkbox" value="1" name="accept_paypal_{product_id}" id="accept_paypal_{product_id}" {chck_paypal} onclick="if (document.getElementById('accept_paypal_{product_id}').checked != true) {document.getElementById('physical[{product_id}]').disabled=true}else document.getElementById('physical[{product_id}]').disabled=false"/>
      Promote via <b>Paypal</b>?</td>
  </tr>
  <tr>
    <td colspan="2"><input type="checkbox" value="1" name="accept_auth_{product_id}" id="accept_auth_{product_id}" {chck_auth}
onclick="if (document.getElementById('accept_auth_{product_id}').checked != true) {document.getElementById('div_auth_{product_id}').style.display='none'}else document.getElementById('div_auth_{product_id}').style.display=''"/>
      Promote via <b>Authorize.net</b>?</td>
  </tr>
</table>
<div id="div_auth_{product_id}" name="div_auth_{product_id}" style="display:{auth_div_display};border-style: solid;border-width: thin;border-color: #000080;">
  <table>
    <tr>
      <td colspan="1" width="235">This is a subscription: </td>
      <td colspan="1" width="380"><input name="recurring_auth_{product_id}" type="checkbox" id="recurring_auth_{product_id}" value="1"
onclick="if (document.getElementById('recurring_auth_{product_id}').checked != true) {document.getElementById('div_auth2_{product_id}').style.display='none'}else document.getElementById('div_auth2_{product_id}').style.display=''"
{recurring_chck_auth}>
        (check this if you want a recurring charge)</td>
    </tr>
  </table>
  <div id="div_auth2_{product_id}" name="div_auth2_{product_id}" style="display:{auth2_div_display};border-style: solid;border-width: thin;border-color: #000090;">
    <table>
      <tr bgcolor="#FFCCFF">
        <td> Length:</td>
        <td colspan="1" width="12%"><input name="period_auth[{product_id}]" type="text" id="period_auth[{product_id}]" value="{period_auth}" size="4" maxlength="7"></td>
        <td> The measurement of time, in association with the Interval Unit, that is used to define the frequency of the billing occurrences <b>(must be a value from 7 through 365 for days based subscriptions)</b>.</td>
      </tr>
      <tr bgcolor="#FFCCFF">
        <td> Unit:</td>
        <td colspan="1" width="12%"><select name="type_auth[{product_id}]" id="type_auth[{product_id}]">
            
            
{type_auth}
          
          </select></td>
        <td> The unit of time, in association with the Interval Length, between each billing occurrence.</td>
      </tr>
      <tr bgcolor="#FFCCFF">
        <td> Total Occurrences:</td>
        <td colspan="1" width="12%"><input name="times_auth[{product_id}]" type="text" id="times_auth[{product_id}]" value="{times_auth}" size="4" maxlength="7"></td>
        <td> Number of billing occurrences or payments for the subscription.</td>
      </tr>
      <tr bgcolor="#FFCCFF">
        <td>Trial Amount</td>
        <td colspan="1"><input name="trial_auth_amount[{product_id}]" type="text" id="trial_auth_amount[{product_id}]" value="{trial_auth_amount}" size="4" maxlength="7"></td>
        <td>The amount to be charged for each payment during a trial period.</td>
      </tr>
      <tr bgcolor="#FFCCFF">
        <td> Trial Occurrences:</td>
        <td colspan="1" width="12%"><input name="times_trial_auth[{product_id}]" type="text" id="times_trial_auth[{product_id}]" value="{times_trial_auth}" size="4" maxlength="7"></td>
        <td> Number of billing occurrences or payments in the trial period.</td>
      </tr>
      <tr bgcolor="#FFCCFF">
        <td> Subscription start:</td>
        <td colspan="1" width="12%"><input name="start_auth_subscr[{product_id}]" type="text" id="start_auth_subscr[{product_id}]" value="{start_auth_subscr}" size="4" maxlength="7"></td>
        <td> Number of days to delay the beginning of the subscription (this is for free trial that has a different period than the the unit of time).</td>
      </tr>
    </table>
  </div>
</div>
<table>
  <tr>
    <td colspan="3"><input type="checkbox" value="1" name="accept_cb_{product_id}" id="accept_cb_{product_id}" onClick="display_tr(document.getElementById('accept_cb_{product_id}'))" {chck_cb} />
      Promote via <b>Clickbank</b>? You have to set the return URL in clickbank: 
      {site_full_url}clickbank.pay.return.php </td>
  </tr>
  <tr id="accept_cb_{product_id}_td" style="display:none">
    <td colspan="3">Clickbank Product Delivery ID:<br>
      <input name="nid_clickbank[{product_id}]" type="text" id="nid_clickbank[{product_id}]" value="{product_nid_clickbank}" size="13"></td>
  </tr>
  <tr>
    <td colspan="3"><input type="checkbox" value="1" name="accept_2co_{product_id}" id="accept_2co_{product_id}" onClick="display_tr(document.getElementById('accept_2co_{product_id}'))" {chck_2co}/>
      Promote via <b>2Checkout</b> ? You have to set the return URL in 2Checkout: 
      {site_full_url}2co.pay.return.php </td>
  </tr>
  <tr id="accept_2co_{product_id}_td" style="display:none">
    <td colspan="3">2Checkout Product ID:<br>
      <input name="nid_2co[{product_id}]" type="text" id="nid_2co[{product_id}]" value="{product_nid_2co}" size="13"></td>
  </tr>
  <tr> </tr>
  <tr>
    <td width="193">Price:</td>
    <td width="165"><input type="text" name="price[{product_id}]" value="{product_price}" size="20"></td>
    <td colspan="1" width="394">Membership:
      <select name="membership_id[{product_id}]">
        
        {membership_lista}
      
      </select></td>
  </tr>
  <tr>
    <td colspan="1" width="193">This is a <b>Paypal</b> <b>subscription</b>: </td>
    <td colspan="2"><input name="recurring_{product_id}" type="checkbox" id="recurring_{product_id}" value="1" onclick="display_tr(document.getElementById('recurring_{product_id}')); if (document.getElementById('recurring_{product_id}').checked==false) {document.getElementById('trial_{product_id}').checked=false;display_tr(document.getElementById('trial_{product_id}'))}" {recurring_chck}>
      (check this if you want a recurring charge)* This only works for paypal </td>
  </tr>
  <tr id="recurring_{product_id}_td" style="display:none">
    <td bgcolor="#E8FFFF" width="193">Recurring: {recurring}</td>
    <td bgcolor="#E8FFFF" width="165"><input name="period[{product_id}]" type="text" id="period[{product_id}]" value="{period}" size="4" maxlength="7">
      <select name="type[{product_id}]" id="type[{product_id}]">
        
        
{type}
      
      </select></td>
    <td colspan="1" bgcolor="#E8FFFF" width="394">Recurring Times:
      <input name="times[{product_id}]" type="text" id="times[{product_id}]" value="{times}" size="4" maxlength="7">
      (0 for recurring until subscription cancelled)</td>
  </tr>
  <tr>
    <td colspan="1" width="193">Offer <b>Paypal Trial</b> for this product: </td>
    <td colspan="2"><input name="trial_{product_id}" type="checkbox" id="trial_{product_id}" value="1" onclick="display_tr(document.getElementById('trial_{product_id}')); if (document.getElementById('trial_{product_id}').checked==true) {document.getElementById('recurring_{product_id}').checked=true;display_tr(document.getElementById('recurring_{product_id}'))}" {trial_chck}>
      (check this if you want a recurring charge)* This only works for paypal </td>
  </tr>
  <tr id="trial_{product_id}_td" style="display:none" bgcolor="#CEEBC5">
    <td width="193">Trial Period: {trial}</td>
    <td width="165"><input name="trial_period[{product_id}]" type="text" id="trial_period[{product_id}]" value="{trial_period}" size="4" maxlength="7">
      <select name="trial_period_type[{product_id}]" id="trial_period_type[{product_id}]">
        
        
{trial_period_type}
      
      </select></td>
    <td colspan="1" width="394">Trial amount:
      <input name="trial_amount[{product_id}]" type="text" id="trial_amount[{product_id}]" value="{trial_amount}" size="4" maxlength="7">
      (leave this 0 for free)</td>
  </tr>
  <tr>
    <td colspan=3>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><a href="javascript:void(window.open('products.buybutton.settings.php?id={product_id}','','width=560,height=510, toolbars=no, '))">Click 
      here</a> to place a custom buy image for the product. </td>
  </tr>
  <tr>
    <td colspan="3">On purchase this product has {comlevels} commissions set for 
      {memno} membership. To view full commission structure <a href="levels.php?menu=membership">click 
      here</a>.</td>
  </tr>
  <tr>
    <td colspan="3">Set as Physical Product.
      <input type="checkbox" {disabled_physical} value="1" {checked_physical} name="physical[{product_id}]" id="physical[{product_id}]" onclick="if (document.getElementById('physical[{product_id}]').checked != true) {document.getElementById('shipping_table_{product_id}').disabled=true}else document.getElementById('shipping_table_{product_id}').disabled=false">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" value="Shipping Table" name="shipping_table_{product_id}" id="shipping_table_{product_id}" onclick="window.open('shipping_table.php?id={product_id}','','height=450px,width=400px,scrollbars=yes,top=200,left=200')"/>
      {physical_message}</td>
  </tr>
  <tr>
    <td colspan="3"><hr size="1"></td>
  </tr>
</table>
<table>
