<h2><font color="#076C9F">Mail Broadcasters and Autoresponder</font></h2>
<p><b><a target="_self" href="#message">Create New Message</a> | <a target="_self" href="#message">Send A New Broadcast</a></b></p>
<hr size="1">
<p><b><font size="4">Message History: </font></b></p>
<table width="100%"  border="1" cellpadding="0" cellspacing="0" bordercolor="#7F9DB9">
  <tr>
    <td width="36%"><h5>Subject</h5></td>
    <td width="9%"><h5>Sent to</h5></td>
    <td width="7%"><h5>Count</h5></td>
    <td width="18%"><h5>Send condition</h5></td>
    <td width="12%"><h5>Sent by </h5></td>
    <td width="12%"><h5>Sent</h5></td>
    <td width="18%"><h5>Action</h5></td>
  </tr>
  {message_list}
</table>
<hr size="1">
<h2><font size="4">Tags to be used in message:</font></h2>
<table width="329" border="1" cellpadding="0" cellspacing="0" bordercolor="#7F9DB9">
  <tr>
    <td width="118"><h5>Tag Title</h5></td>
    <td width="151"><h5>Database Field </h5></td>
    <td width="60"><h5>Action</h5></td>
  </tr>
  <tr>
    <td><strong>[[affiliate_link]]</strong></td>
    <td>Members Affiliate Link</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>[[unsub]]</strong></td>
    <td>Unsubscribe Link </td>
    <td>&nbsp;</td>
  </tr>
  {tag_list}
</table>
<p><a href="tags.php">Add/Edit Tags</a> </p>
<hr size="1">
<form name="form1" method="post" action="do.add.autoresponder.php">
  <table width="652"  border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="652" colspan="3"><b><a name="message"></a>IN EMAIL:</b> To use 
        
        in your emails use <b>Double Brackets</b> around the tag [[ ]].<br>
        i.e.<font face="Courier New"> [[first_name]] or [[email]]</font></td>
    </tr>
    <tr>
      <td width="231">&nbsp;</td>
      <td valign="bottom" width="211">&nbsp;</td>
      <td valign="bottom" width="210">&nbsp;</td>
    </tr>
    <tr>
      <td width="231"><h2><font size="4">Message</font></h2></td>
      <td valign="bottom" width="211">Your Name</td>
      <td valign="bottom" width="210">Your From/Reply Email</td>
    </tr>
    <tr>
      <td width="231">Message from: </td>
      <td width="210"><input name="from_name" type="text" id="from_name" value="{from_name}" size="26"></td>
      <td width="211"><input name="from_email" type="text" id="from_email" value="{from_email}" size="27"></td>
    </tr>
    <tr>
      <td width="231">Message Subject:</td>
      <td width="421" colspan="2"><input name="subject" type="text" id="subject" size="65" value="Hi [[first_name]], (enter subject here)"></td>
    </tr>
    <tr>
      <td valign="top" width="231">Message Header: </td>
      <td colspan="2" width="421"><textarea name="header" cols="57" rows="3" id="header"></textarea></td>
    </tr>
    <tr>
      <td valign="top" width="231">Message Body:</td>
      <td colspan="2" width="421"><textarea name="body" cols="57" rows="20" id="body">Hi [[first_name]],
(add message here)
To your success,
{from_name}
PS - Your affiliate link is:
[[affiliate_link]]
</textarea></td>
    </tr>
    <tr>
      <td valign="top" width="231">Message Footer: </td>
      <td colspan="2" width="421"><textarea name="footer" cols="57" rows="4" id="footer">
Warning: Only use this link to unsubscribe forever.
[[unsub]]</textarea></td>
    </tr>
    <tr>
      <td width="231">Send to user:</td>
      <td colspan="2" width="421"><input name="days" type="text" id="days" value="0" size="3">
        days after signup (0 to be sent now)</td>
    </tr>
    <tr>
      <td width="231">Send to users with membership:</td>
      <td colspan="2" width="421"><select name="membership" id="membership">
          <option value="0">All</option>
          
          
	  
      
      
      
          {membership_list}
      
      
      
      
        </select></td>
    </tr>
    <tr>
      <td width="231">Send message without search filter: </td>
      <td colspan="2" width="421"><input name="filter" type="radio" value="1" checked></td>
    </tr>
    <tr>
      <td width="231">Send message with search filter: </td>
      <td colspan="2" width="421"><input name="filter" type="radio" value="2">
        Current Filter: {filter} <b>({members} members)</b>
        <input name="filter" type="hidden" id="filter" value="{filter}"></td>
    </tr>
    <tr bgcolor="#efefef">
      <td><strong>Send using </strong></td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><input name="sendby" type="radio" value="1" checked>
        Email only </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><input name="sendby" type="radio" value="2">
        Site Inbox(as message) only - Message will be shown as coming from HelpDesk</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><input name="sendby" type="radio" value="3">
        Email &amp; Site Inbox </td>
    </tr>
  </table>
  <p align="center">
    <input type="submit" name="Submit" value="Send message">
    <br>
    <span style="font-weight: 400"><font size="1"> <a href="autoresponder.php#message">Cancel</a></font></span></p>
  <hr size="1">
</form>
<br>
<p>&nbsp;</p>
<p>&nbsp;</p>