<form name="form1" method="post" action="do.contact.php">
  <table width="550" border="0" align="center">
    <tr>
      <td width="130">Name:</td>
      <td width="410"><input name="name" type="text" id="name" size="60"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input name="email" type="text" id="email" size="60"></td>
    </tr>
    <tr>
      <td>Subject:</td>
      <td><input name="subject" type="text" id="subject" size="60" /></td>
    </tr>
    <tr>
      <td>Message:</td>
      <td><textarea name="message" cols="60" rows="7" id="message"></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><div align="right">
          <input type="submit" name="Submit" value="Submit">
        </div></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
