<p><strong>Message Details:</strong></p>
<table width="550" border="0">
  <tr>
    <td align="right" valign="top">From:</td>
    <td>{from}</td>
  </tr>
  <tr>
    <td align="right" valign="top">Date:</td>
    <td>{date}</td>
  </tr>
  <tr>
    <td align="right" valign="top">Subject:</td>
    <td><input name="textfield" type="text" value="{subject}" size="60" readonly/></td>
  </tr>
  <tr>
    <td align="right" valign="top">Body:</td>
    <td><textarea name="textarea" cols="60" rows="15" readonly="readonly">{body}
</textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="Submit" value="&lt;&lt; Back" onclick="history.back(1);"/>
      <input type="submit" name="Submit" value="Delete Message" onclick="javascript:window.location.href='member.area.do.delete.message.php?id={id}';" />
      <input type="submit" name="Submit" value="Reply" onclick="javascript:window.location.href='member.area.reply.message.php?id={id}';"/></td>
  </tr>
</table>
<p>&nbsp;</p>
