<form id="form1" name="form1" method="post" action="member.area.do.send.message.php">
  <p><strong>Compose :</strong></p>
  <table width="550" border="0">
    <tr>
      <td align="right" valign="top">To:</td>
      <td>{to}
        <input name="to_member_id" type="hidden" id="to_member_id" value="{to_member_id}" /></td>
    </tr>
    <tr>
      <td align="right" valign="top">Subject:</td>
      <td><input name="subject" type="text" id="subject" size="60" /></td>
    </tr>
    <tr>
      <td align="right" valign="top">Body:</td>
      <td><textarea name="body" cols="60" rows="15" id="body" ></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><p>
          <input type="button" name="Button" value="&lt;&lt; Back" onclick="history.back(1);"/>
          <input type="submit" name="Submit" value="Send message" />
        </p></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
