<h2><font color="#076C9F">Site Menu Control<br>
  </font><font size="2"><a target="_self" href="#manage">Manage Site Menus</a> | <a target="_self" href="#new">Add new menu item</a></font></h2>
<form name="form1" method="post" action="do.menu.changes.php">
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
    {menu_list}
  </table>
  <br>
  <input name="Do Changes" type="submit" id="Do Changes" value="Do changes">
  <font size="1"><a href="menu.php">Cancel changes</a></font>
</form>
<br>
<form name="form2" method="post" action="do.add.new.menu.item.php">
  <table width="100%"  border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse" bordercolor="#111111">
    <tr>
      <td colspan="2" width="1401"><h2><font size="4"><a name="new">A</a>dd new 
          menu item</font></h2></td>
    </tr>
    <tr>
      <td width="319" align="right"><p style="margin-right: 5">Item name:</td>
      <td width="1082"><input name="item_name" type="text" id="item_name" size="20"></td>
    </tr>
    <tr>
      <td width="319" align="right"><p style="margin-right: 5">Item link: </td>
      <td width="1082"><input name="item_link" type="text" id="item_link" size="20"></td>
    </tr>
    <tr>
      <td width="319" align="right"><p style="margin-right: 5">Item category:</td>
      <td width="1082"><select name="item_category" id="item_category">
          <option value="main">main</option>
          <option value="members">members</option>
          <option value="0">Add to both</option>
        </select></td>
    </tr>
    <tr>
      <td width="319" align="right"><p style="margin-right: 5">Item position:</td>
    <tr>
      <td width="319" align="right"><p style="margin-right: 5"></td>
      <td width="1082"><input name="open_new_window" type="checkbox" id="open_new_window" value="1">
        Link Opens in 
        a new window </td>
    </tr>
    <tr>
      <td width="1401" colspan="2"><p align="center"><br>
          <input type="submit" name="Submit" value="Add New Menu Item">
          <font size="1"><a href="menu.php">Cancel changes</a></font></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
