<html>
<head>
<head>
<title>{document_title}</title>
{document_head}
<link href="css/mwg.css" rel="stylesheet" type="text/css" />
</head>
<body vlink="#0033CC">
<div align="center">
  <center>
    <TABLE width=700 bgColor=#ffffff border=0 vlink="#0000FF" style="border-collapse: collapse" bordercolor="#111111" cellpadding="0" cellspacing="0">
      <TBODY>
        <TR>
          <TD colspan="2" width="700"><p align="center"> </TD>
        </TR>
        <TR valign="top">
          <TD width="60"><div align="center"><STRONG>{menu}</STRONG></div></TD>
          <TD width="640" align="center">{content}</TD>
        </TR>
        <TR>
          <TD colspan="2" width="700"><div align="center"> </div></TD>
        </TR>
        <TR>
          <TD colspan="2" width="700"></TD>
        </TR>
        <TR>
          <TD colspan="2" width="700"><div align="center"></div></TD>
        </TR>
      </TBODY>
    </TABLE>
  </center>
</div>
</body>
</html>
