<div align="center">
  <center>
    <table width="100%" align="center" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse">
      <tr>
        <td valign="top"><form action="member.area.do.save.profile.php" method="post" enctype="multipart/form-data" name="form1">
            <table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
              {error}
              <tr bgcolor="#000000">
                <td height="20" colspan="3" align="center" bgcolor="#FFFFFF"><div align="left">Your affiliate link is: </div></td>
              </tr>
              <tr bgcolor="#000000">
                <td height="20" colspan="3" align="center" bgcolor="#FFFFFF"><input name="aff_link" type="text" id="aff_link" value="{aff_link}" size="80" /></td>
              </tr>
              <tr bgcolor="#000000">
                <td height="20" colspan="3" align="center" bgcolor="#FFFFFF"><p align="left"  ><strong> Personal Information</strong></p></td>
              </tr>
              <tr bgcolor="#000000">
                <td height="20" colspan="3" align="center" bgcolor="#FFFFFF"><p align="left"  ><strong> <a href="member.area.change_pass.php" name="change_pasw" id="change_pasw">Change Password</a></strong></p></td>
              </tr>
              <tr bgcolor="#CC0000">
                <td height="20" align="left" bgcolor="#FFFFFF">&nbsp;</td>
                <td bgcolor="#FFFFFF"><p align="center"><span class="style5"><font color="#000000">Make Public </font> </span>?</p></td>
                <td bgcolor="#FFFFFF">&nbsp;</td>
              </tr>
              <tr>
                <td height="20" align="right" class="prof_list">Display my custom profile in the members directory:</td>
                <td class="prof_list"><p align="center"><font style="font-size: 10pt">
                    <input name="public_profile" type="checkbox" value="1" {public_profile} />
                    </font></p></td>
                <td class="prof_list">&nbsp;</td>
              </tr>
              <tr >
                <td width="308" height="20" align="right" class="prof_list">Member ID: </td>
                <td class="prof_list" width="65">&nbsp;</td>
                <td width="348" class="prof_list">{id}</td>
              </tr>
              {field_list}
              <tr>
                <td height="20" align="left" colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td width="308"><div align="right">{downline}</div></td>
                <td align="left" valign="top" width="65">&nbsp;</td>
                <td align="left" valign="top" width="348">{stats}</td>
              </tr>
              <tr>
                <td width="308"><div align="right">{del_account}</div></td>
                <td align="left" valign="top" width="65">&nbsp;</td>
                <td align="left" valign="top" width="348">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3"><center>
                    <font style="font-size: 10pt"> <a name="save">
                    <input name="save_button" type="submit" id="save_button" value="Save Settings" />
                    </a> </font>
                  </center></td>
              </tr>
            </table>
          </form></td>
      </tr>
    </table>
  </center>
</div>
{promo} 
