<link href="surfdoors.css" rel="stylesheet" type="text/css">
<center>
  <table width="98%"  border="0" cellspacing="1" cellpadding="3">
    <tr class="prof_list">
      <td width="27%" align="right" class="prof_list">First Name:</td>
      <td width="73%" class="prof_list"><strong>{first_name}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Last Name:</td>
      <td class="prof_list"><strong>{last_name}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Address:</td>
      <td class="prof_list"><strong>{address}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">City:</td>
      <td class="prof_list"><strong>{city}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">State:</td>
      <td class="prof_list"><strong>{state}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Zip:</td>
      <td class="prof_list"><strong>{zip}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Country:</td>
      <td class="prof_list"><strong>{country}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Cell Phone: </td>
      <td class="prof_list"><strong>{cell_phone}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Home Phone: </td>
      <td class="prof_list"><strong>{home_phone}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Work Phone: </td>
      <td class="prof_list"><strong>{work_phone}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">MSN Messenger:</td>
      <td class="prof_list"><strong>{msn_id}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Yahoo! Messenger: </td>
      <td class="prof_list"><strong>{yahoo_id}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list"> ICQ Messenger: </td>
      <td class="prof_list"><strong>{icq_id}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Website URL 1:</td>
      <td class="prof_list"><strong>{url1}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Website URL 2: </td>
      <td class="prof_list"><strong>{url2}&nbsp;</strong></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list">Website URL 3:</td>
      <td class="prof_list"><strong>{url3}&nbsp;</strong></td>
    </tr>
    {list}
    <tr class="prof_list">
      <td align="right" class="prof_list">&nbsp;</td>
      <td class="prof_list"><a href="member.area.write.message.php?id={id}">Send a message to {name}</a></td>
    </tr>
    <tr class="prof_list">
      <td colspan="2" align="right" class="prof_list"><center>
        </center></td>
    </tr>
    <tr class="prof_list">
      <td align="right" class="prof_list"><input type="button" value=" << Back " onclick="history.back(1);"></td>
      <td class="prof_list">&nbsp;</td>
    </tr>
    <tr>
      <td> {stats} </td>
    </tr>
  </table>
</center>
