<script language=JavaScript src='js/functions.js'></script>
<script LANGUAGE="JavaScript">
<!--
// Nannette Thacker http://www.shiningstar.net
function confirmSubmit()
{
var agree=confirm("{text_for_popup}");
if (agree)
	return true ;
else
	return false ;
}
// -->
</script>
<script language=JavaScript src='js/functions.js'></script>
<p>The one time offer backup page. Insert here the sales copy.</p>
<p align="center">{OTO2_BCK}</p>
<p align="center"><a onclick="return confirmSubmit()"
href="continue.php?no=2">{text_no_buy}</a> 