<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<body onLoad="display_tr_radio(document.getElementById('arp'),document.form1.arp);">
<h3><font size="5" color="#076C9F">Signup Settings</font><strong><br>
  <span style="font-weight: 400"><font size="3">Use this section to adjust Required Fields 
  on your signup page and Fields Displaying in Member Area Profile</font></span></strong></h3>
<form name="form2" method="post" action="do.signup.settings.changes.php">
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="104%" height="20" align="right" class="prof_list" colspan="7"><p align="left">
          <input type="submit" name="Submit1" value="Do Changes">
      </td>
    </tr>
    <tr>
      <td height="20" align="right" class="prof_list">&nbsp;</td>
      <td width="18%" align="center" bgcolor="#FFFF99" class="prof_list"><b>On Signup</b></td>
      <td width="27%" align="center" bgcolor="#FFFF99" class="prof_list"><b>Make<br>
        Required</b></td>
      <td width="4%" class="prof_list">&nbsp;</td>
      <td width="20%" align="center" bgcolor="#FFCC99" class="prof_list"><p align="center"><b>- Profile -<br>
          Members
          Area</b></td>
      <td width="18%" colspan="2" class="prof_list">&nbsp;</td>
    </tr>
    {field_list}
  </table>
  <input type="submit" name="Submit" value="Do Changes">
  <a href="add.db.field.php">Add a New Field For Signup</a>
</form>
<hr>
<?php /*
<center>
  <h2>3rd Party Autoresponder</h2>
  <br>
</center>
<form name="form1" method="post" action="do.autoresponder.config.change.php?arp_id={arp_id}">
  <table align=center>
    <tr>
      <td width="392" bgcolor="#E6F4FB" align="right"> Enable subscription to 3rd Party 
        Autoresponders for new members </td>
      <td width="208" bgcolor="#E6F4FB"><input name="enable_arp" type="checkbox" id="enable_arp" value="1" {arpchecked}></td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2"><input type="radio" name="arp" id="arp" onClick="display_tr_radio(document.getElementById('arp'),document.form1.arp);document.form1.action='do.autoresponder.config.change.php?arp_id={arp_id}';" value="1" />
        Recommended - Post via form in background.<br />
        This can work for almost any autoresponder that use form post method. Almost all do. We already have built in settings for you with all of the popular autoresponder services such as:
        ARP3 (AutoResponseplus), GetResponse, ProSender, AWeber and EmailAces, and 1Shoppingcart (Private Labels such as, CommerceStore.com mymarketingcart.com, webcontactpro.com, frontpagecart.com, marketerschoice.com, sellbettertoolbox.com, autocontactor.com, masterlisttools.com, autopilotriches.com, queencart.com, autowebbusiness.com , quicksales.com, 1automationwiz.com, and many more.)
        
        This will allow your members to signup thru a form in the background and is allowed and recommend by all autoresponder services becuse the IP address of the user comes from their personal computer. </td>
    </tr>
  </table>
  <table>
    <tr>
      <td colspan="2"><input type="radio" name="arp" id="arp" onClick="display_tr_radio(document.getElementById('arp'),document.form1.arp);document.form1.action='do.autoresponder.signup.settings.changes.php';" value="2" />
        Not Recommended but much easier- Subscribe by email. Sends email to from your website to your autoresponder with Members name and email. This works very simple and is very effective. But some autoresponder services refer to this as "scripting leads." The problem is that the email comes from your website's server and then the member's IP address is logged as your website's server IP address. All of your members will have the same IP address which is not there personal IP address. Also, if you are using your own server based autoresponder (like ARP3/AutoResponsePlus) some systems have to be set up in your control panel to accept leads via email. </td>
    </tr>
  </table>
  <table id="arp_1_td" width="600" border="0" cellspacing="0" cellpadding="0">
    <tr >
      <td colspan="2"><h3>Tags to be used in message</h3>
        {tag_list}<br></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC" align="right"> The Email Address of the 3rd Party Autoresponder </td>
      <td bgcolor="#CCCCCC"><input name="arp_email" type="text" id="arp_email" value="{arp_email}" size="47"></td>
    </tr>
    <tr>
      <td bgcolor="#E6F4FB" align="right"> This is the subject of the mail that will be sent to the autoresponder for subscription </td>
      <td bgcolor="#E6F4FB"><input name="arp_message_subject" type="text" id="arp_message_subject" value="{arp_message_subject}" size="47"></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#CCCCCC" align="right"> This is the body of the mail that will be sent to the autoresponder for subscription </td>
      <td bgcolor="#CCCCCC"><textarea name="arp_message_body" cols="40" rows="7" id="arp_message_body">{arp_message_body}</textarea></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><p>
          <input name="Do Changes" type="submit" id="Do Changes" value="Do Changes">
        </p></td>
    </tr>
  </table>
  <table id="arp_0_td" cellpadding="0" cellspacing="0" border="0" width=>
  <tr>
    <td>To hook up to a third-party autoresponder system, you will need 
      to specify the following information.  This is for advanced users only, so if you have any 
      questions, you will need to contact your third-party autoresponder company, or a qualified 
      webmaster with autoresponder experience. </td>
  </tr>
  <tr>
    <td><p> Current Autoresponder in use:
        <select name="menu1" onChange="MM_jumpMenu('parent',this,0)">
          
					    {jump_arp}
						
                                                                  
        </select>
      </p>
      <p> Autoresponder Name
        <input type="text" name="arp_name" value="{arp_name}" />
      </p>
      <p>How should the form data be sent to your autoresponder company?<br>
        <input type=radio  name="method" value=1 {selected1}>
        "Get" Method
        <input type=radio name="method" value=2 {selected2}>
        "Post" Method<br>
        <br>
        Type the web-address (URL) of your autoresponder's form processing page (Start without http:// or https://)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="input" size="50" maxlength="255" name="url" value="{url}">
        <br>
        <br>
        Fieldname of the 'First Name' Field:<br>
        <input type="input" size="20" maxlength="100" name="first_name" value="{first_name_arp_new}">
        <br>
        Fieldname of the 'E-Mail' Field:<br>
        <input type="input" size="20" maxlength="100" name="email" value="{email_arp_new}">
      </p>
  <tr>
    <td><br>
      Your autoresponder may require a few additional fields to be passed.<br>
      These are commonly used to specify which list you want the prospect to join,<br>
      and sometimes to specify the source. Please type the <br>
      appropriate field names and values below:<br>
      <br>
      <b> Notice :
      <p> The redirct URL must be the full url to oto.php if OTO1 is used and flow is normal (OTO after signup)
      <p>Example:<br>
        http://www.yoursite.com/oto.php or http://www.yoursite.com/subfolder/oto.php</p>
      <p>The redirct url must be the full URL to the member.area.in.php file if no OTO is used<br>
        or if OTO1 is used but flow is set as sigup after OTO
      <p>Example:<br>
        http://www.yoursite.com/member.area.in.php or http://www.yoursite.com/subfolder/member.area.in.php</p>
      </b></font><br>
      <table>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td></td>
          <td><center>
              Field Name
            </center></td>
          <td><center>
              Field Value
            </center></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>1.</td>
          <td><input type="input" size="20" maxlength="100" name="field1" value="{field1}"></td>
          <td><input type="text"  name="value1" value="{value1}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>2.</td>
          <td><input type="input" size="20" maxlength="100" name="field2" value="{field2}"></td>
          <td><input type="text"  name="value2" value="{value2}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>3.</td>
          <td><input type="input" size="20" maxlength="100" name="field3" value="{field3}"></td>
          <td><input type="text"  name="value3" value="{value3}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>4.</td>
          <td><input type="input" size="20" maxlength="100" name="field4" value="{field4}"></td>
          <td><input type="text"  name="value4" value="{value4}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>5.</td>
          <td><input type="input" size="20" maxlength="100" name="field5" value="{field5}"></td>
          <td><input type="text"  name="value5" value="{value5}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>6.</td>
          <td><input type="input" size="20" maxlength="100" name="field6" value="{field6}"></td>
          <td><input type="text"  name="value6" value="{value6}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>7.</td>
          <td><input type="input" size="20" maxlength="100" name="field7" value="{field7}"></td>
          <td><input type="text"  name="value7" value="{value7}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>8.</td>
          <td><input type="input" size="20" maxlength="100" name="field8" value="{field8}"></td>
          <td><input type="text"  name="value8" value="{value8}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>9.</td>
          <td><input type="input" size="20" maxlength="100" name="field9" value="{field9}"></td>
          <td><input type="text"  name="value9" value="{value9}"></td>
        </tr>
        <tr>
          <td></td>
          <td align=right>10.</td>
          <td><input type="input" size="20" maxlength="100" name="field10" value="{field10}"></td>
          <td><input type="text"  name="value10" value="{value10}"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><input name="edit" type="submit" id="edit"  value="Do Changes"/>
      <input name="new" type="submit" id="new" value="Save New"/>
</form>
</td>
</tr>
</table>
<hr />
*/ ?>
<form name="form3" method="post" action="do.signup.changes.php">
  <table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><h3><b>Signup Code<br>
          </b></h3>
        <font size="2">This will not allow anyone to join your site unless 
        they have your signup code. Example use: Let's say you speak at an event 
        and offer a coaching program and you have valuable information in your 
        members area. People pay you $3000 for you coaching and access to the 
        private members area. Since they pay you at an event, there is no need 
        to charge at the site. However, free-loaders my find the signup page and 
        sneak into your members area. To stop that, simply check off the &quot;Require Code&quot; box and enter your password and send it to members in an 
        email or give it to the personally and tell they need to enter that code 
        when joining. Those without your permission code will not be able to 
        join.</font>
        <p>
          <input name="signup_with_code" type="checkbox" id="signup_with_code" value="1" {codechecked}>
          Require code </p>
        <p>Text to appear above the code input:
          <input name="text_for_signup_code" type="text" value="{text_for_signup_code}" size="50">
        </p>
        <p>Code:
          <input name="signup_code" type="text" id="signup_code" value="{signup_code}" size="20">
        </p>
        <p>
          <input type="submit" name="Submit2" value="Do Changes">
          <br>
        </p>
        <hr>
        <p><b>Credits<br>
          </b><font size="2"> Leave this off in most cases. This is a built in function if you decide to have custom work done. We added this for you or your programmer to use for impression based traffic exchanges. It is a built in module to track actions such as impressions etc. Sites like start page exchanges, or fly in ads, or anything that servers ads or impressions could use this function. If you want to design a site that has members display ads on a toolbar, exit pops, or ads on their sites, this module is to track these impressions served. The number below is for how many impresdsions served by the user will allow them to get 1 credit to have their ad (or action) displayed in the network if you choose to have custom work done.<br>
          </font>
          <input name="credits_enable" type="checkbox" value="1" {credits_chk}/>
          Enable ?<br />
          <br />
          How many impressions for 1 credit ? <br />
          <input name="credits" type="text" value="{credits}"/>
        </p>
        <p>
          <input type="submit" name="Submit2" value="Do Changes">
        </p></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
