<DIV>
  <FORM name=form1 action=member.area.directory.php method=get>
    <DIV align=left>
      <P>
        <INPUT id=order type=hidden value={order} name=order>
        Search:
        <INPUT id=search value="{search}" name=search>
        <INPUT type=submit value=Search name=Submit>
      </P>
      <P>
        <LABEL></LABEL>
      </P>
    </DIV>
  </FORM>
  <P>{prev} | {p<STRONG>ages</STRONG>} | {next}<BR>
    Current page: {page} </P>
</DIV>
<TABLE cellSpacing=1 cellPadding=2 width="98%" border=0>
  <TBODY>
    <TR bgColor=#cccccc>
      <TD class=prof_list width="10%"><STRONG>ID<A href="member.area.directory.php?order=id&page={page}&search={search}&c1={c1}&c1={c1}&c2={c2}&c3={c3}&c4={c4}&c5={c5}&c6={c6}&c7={c7}&c8={c8}&c9={c9}&c10={c10}&c11={c11}&photo_only={photo_only}&orx=desc"><IMG src="images/down.GIF" border=0></A><STRONG><A href="member.area.directory.php?order=id&page={page}&search={search}&c1={c1}&c1={c1}&c2={c2}&c3={c3}&c4={c4}&c5={c5}&c6={c6}&c7={c7}&c8={c8}&c9={c9}&c10={c10}&c11={c11}&photo_only={photo_only}&orx=desc"><IMG src="images/up.GIF" border=0></A></STRONG></STRONG></TD>
      <TD class=prof_list width="20%"><STRONG>Name<STRONG><A href="member.area.directory.php?order=name&page={page}&search={search}&c1={c1}&c1={c1}&c2={c2}&c3={c3}&c4={c4}&c5={c5}&c6={c6}&c7={c7}&c8={c8}&c9={c9}&c10={c10}&c11={c11}&photo_only={photo_only}&orx=desc"><IMG src="images/down.GIF" border=0></A><STRONG><A href="member.area.directory.php?order=name&page={page}&search={search}&c1={c1}&c1={c1}&c2={c2}&c3={c3}&c4={c4}&c5={c5}&c6={c6}&c7={c7}&c8={c8}&c9={c9}&c10={c10}&c11={c11}&photo_only={photo_only}&orx=asc"><IMG src="images/up.GIF" border=0></A></STRONG></STRONG></STRONG></TD>
      <TD class=prof_list width="20%"><STRONG>Location<STRONG><STRONG><A href="member.area.directory.php?order=country&page={page}&search={search}&c1={c1}&c1={c1}&c2={c2}&c3={c3}&c4={c4}&c5={c5}&c6={c6}&c7={c7}&c8={c8}&c9={c9}&c10={c10}&c11={c11}&photo_only={photo_only}&orx=desc"><IMG src="images/down.GIF" border=0></A><STRONG><A href="member.area.directory.php?order=country&page={page}&search={search}&c1={c1}&c1={c1}&c2={c2}&c3={c3}&c4={c4}&c5={c5}&c6={c6}&c7={c7}&c8={c8}&c9={c9}&c10={c10}&c11={c11}&photo_only={photo_only}&orx=asc"><IMG src="images/up.GIF" border=0></A></STRONG></STRONG></STRONG></STRONG></TD>
      <TD class=prof_list width="20%"><STRONG>Write message <STRONG><STRONG><STRONG><STRONG><A href="member.area.directory.php?order=cat&page={page}&search={search}&c1={c1}&c1={c1}&c2={c2}&c3={c3}&c4={c4}&c5={c5}&c6={c6}&c7={c7}&c8={c8}&c9={c9}&c10={c10}&c11={c11}&photo_only={photo_only}&orx=asc"></A></STRONG></STRONG></STRONG></STRONG></STRONG></TD>
    </TR>
  {rows}
  </TBODY>
</TABLE>
<P align=center>{prev} | {pages} | {next}</P>
