<style type="text/css">
<!--
.style2 {
	font-size: 5px;
	font-weight: bold;
	color: #076C9F;
}
-->
</style>
<p><b><font size="5" color="#076C9F">Import Data From CSV - Comma delimited</font></b><br>
  The first row of your CSV file has been read. You can now select which info goes where. Click the checkbox on each field to confirm that you want it imported and select the database field where you want the info inserted. Please be carefull not to select two different sets of information to be inserted into the same database field. </p>
<form name="form1" method="post" action="do.import.csv.php?id={id_temp}">
  <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr bgcolor="#efefef">
      <td colspan="6"><h4>Step #2 - Select where to import fields
          <input name="filename" type="hidden" id="filename" value="{filename}">
        </h4></td>
    </tr>
    {field_list}
    <tr>
      <td colspan="6"><p>Import first row
          <input name="firstrow" type="checkbox" id="firstrow" value="1">
        </p>
        <p>Encrypted Password with md5
          <input name="encrypted" type="checkbox" id="encrypted" value="1">
        </p>
        <p>
          <input type="submit" name="Submit" value="Import Data">
        </p></td>
    </tr>
  </table>
</form>
