<body onLoad="{chck_funtions} {physical_functions}">
<h2><font color="#076C9F">Manage Products Price/Buttons<br>
  </font><span style="font-weight: 400"><font size="2">This section is used to 
  manage price settings for your memberships. Products are really &quot;PAYMENT BUTTON&quot; 
  data needed to add to your memberships. These payment buttons are used by PayPal 
  on your site for people to pay you. After you are done here, you 
  can go to &quot;<font color="#0000FF"><u>Commission Tiers</u></font>&quot; on the admin 
  menu to set up the affiliate program when payments are made.</font></span></h2>
<p><b>Name:</b> is the name of the Product. You can change it to any custom name 
  you like or leave it as is. Keep it similar to the membership name it relates to 
  so that you do not get confused.</p>
<p><b>Unique ID for PayPal:</b> is what people see on their receipt 
  when they pay you or login to PayPal to see what they paid. Try to be 
  descriptive, so even if people see this 1 year later they know what they 
  purchased. i.e. : <font face="Courier New" size="2">One year Golf Digest Elite 
  Membership with Hand Held Software.</font></p>
<p><b>Clickbank Product Delivery ID:</b> is the product ID in your Clickbank account. <font face="Courier New" size="2">You have to set the return URL in clickbank: {site_full_url}clickbank.pay.return.php </font></p>
<p><b>2Checkout Product ID:</b> is the product ID in your 2Checkout account. <font face="Courier New" size="2">You have to set the return URL in clickbank: {site_full_url}2co.pay.return.php </font></p>
<p>To manage your OTO click <a href="oto.php">here</a></p>
<p><b><font size="4">Current&nbsp; Products | </font> <a target="_self" href="#add">Add A New Product</a></b></p>
<form action="do.product.changes.php" method="post">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td> {product_list}</td>
    </tr>
  </table>
  <p>
    <input type="submit" name="Submit2" value="Do Changes">
    <font size="1"> <a href="templates.php">Cancel changes</a> <a name="add"></a></font></p>
</form>
<hr color="#076C9F" size="1">
&nbsp;
<form name="form1" method="post" action="do.add.product.php">
  <table width="500" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="2"><h2><font size="4">Add New Product </font> </h2></td>
    </tr>
    <tr>
      <td colspan="2">Product name: <br>
        <input name="display_name" type="text" id="display_name" size="70"></td>
    </tr>
    <tr>
      <td width="167">&nbsp;</td>
      <td valign="top" width="333">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Description to show in PayPal Item 
        Section we you or the customer logs in to get information about the 
        purchase.<br>
        <input name="nid" type="text" id="nid" size="70"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="checkbox" name="paypal" id="paypal"/>
        Promote via Paypal? 
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><input type="checkbox" name="auth" id="auth"/>
        Promote via Authorize.net? 
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><input type="checkbox" name="cb_nid" id="cb_nid" onClick="display_tr(document.getElementById('cb_nid'))" />
        Promote via Clickbank?
        You have to set the return URL in clickbank: {site_full_url}clickbank.pay.return.php </td>
    </tr>
    <tr id="cb_nid_td" style="display:none">
      <td colspan="2">Clickbank Product Delivery ID:<br>
        <input name="nid_clickbank" type="text" id="nid_clickbank" size="13"></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><input type="checkbox" name="_2co_nid" id="_2co_nid" onClick="display_tr(document.getElementById('_2co_nid'))" />
        Promote via 2Checkout ?
        You have to set the return URL in 2Checkout: {site_full_url}2co.pay.return.php </td>
    </tr>
    <tr id="_2co_nid_td" style="display:none">
      <td colspan="2">2Checkout Product ID:<br>
        <input name="nid_2co" type="text" id="nid_2co" size="13"></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Product Price: <br>
        <input name="price" type="text" id="price" size="13">
        USD</td>
    </tr>
    <tr>
      <td colspan="2"><br>
        <b>Choose:</b> This Product Price/Button is related to the following 
        membership.<br>
        &nbsp;
        <select name="membership_id" id="membership_id">
          
	  
      
      
      
      {membership_list}
      
        </select>
        <br>
        If you do not see a membership you want to connect this Product 
        Price/Button to, go to the menu or click on | <a href="membership.php"> Membership Editor</a> | to create the membership first.</td>
    </tr>
    <tr>
      <td>This is a subscription: </td>
      <td><input name="recurring" type="checkbox" id="recurring" value="1">
        (check this if you want a recurring charge)* </td>
    </tr>
    <tr>
      <td align="right" valign="top"><div align="left">Charge Period:</div></td>
      <td align="right"><div align="left"> Bill Each and Every
          <input name="period" type="text" id="period" value="0" size="4" maxlength="7">
          <select name="type" id="type">
            <option value="D" selected>Days</option>
            <option value="M">Months</option>
            <option value="Y">Years</option>
          </select>
          <br>
          <br />
          (0 for regular non-recurring products) *</div></td>
    </tr>
    <tr>
      <td align="right" valign="top"><div align="left">Recurring Times: </div></td>
      <td align="right"><div align="left">
          <input name="times" type="text" id="times" value="0" size="4" maxlength="7">
          (0 for recurring until subscription canceled) </div></td>
    </tr>
    <tr>
      <td align="right" valign="top"><div align="justify">Offer Trial for this product:</div></td>
      <td align="right"><div align="justify">
          <input name="trial" type="checkbox" id="trial" value="1">
          (check if yes) </div></td>
    </tr>
    <tr>
      <td align="right" valign="top"><div align="justify">Trial amount: </div></td>
      <td align="right"><div align="justify">
          <input name="trial_amount" type="text" id="trial_amount" value="0" size="5">
          (leave this 0 for free)</div></td>
    </tr>
    <tr>
      <td align="right" valign="top"><div align="justify">Trial Period:</div></td>
      <td align="right"><div align="justify">Trial period is:
          <input name="trial_period" type="text" id="trial_period" value="0" size="4" maxlength="7">
          <select name="trial_period_type" id="trial_period_type">
            <option value="D" selected>Days</option>
            <option value="M">Months</option>
            <option value="Y">Years</option>
          </select>
          <br>
        </div></td>
    </tr>
    <tr>
      <td align="right" valign="top"><div align="justify"></div></td>
      <td align="right"><div align="justify"></div></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="Submit" value="Add New Product Now"></td>
    </tr>
  </table>
  <p><strong>Note:</strong> If you want to use either or both of the 2 OTO's (One Time Offers) feature of the script you have to 
    first use this section to create the products. OTO1 and OTO2 those together with the the 
    tier commission levels you setup will be used to create the One Time Offer pages. </p>
</form>
</body>