<table border="0" cellspacing="0" style="border-collapse: collapse" width="98%" bgcolor="#ECFFFF">
  <tr>
    <td width="100%" bgcolor="#336699"><font color="#FFFFFF"><b>Split Payment to Admin: (paid {befaf2} affiliate)</b></font></td>
  </tr>
  <tr>
    <td width="100%"><p>Value of the payment: <strong>{st}{value}{st1}</strong> <br>
        Value of payment if affiliate is jv1: <strong>{st}{jv1}{st1}</strong> or jv2: <strong>{st}{jv2}{st1}</strong> <br>
        Special payment value: <strong>{special}</strong> </p></td>
  </tr>
</table>
