<font color="#076c9f" size="5"><strong>Add a Ban</strong></font>
<p>This is used to add a ban to restrict members access to your site. It can either be a total restriction meaning the visitor cannot view your site at all or it can be a signup restriction where he cannot signup to your site. For total restriction you can only add a ip ban, for signup you can add a restriction for every field that is required or present at signup (additionally to these you can also add a restriction to IP).</p>
<h3>Current Ban Settings</h3>
<form name="form1" method="post" action="">
  Ban Status: {ban_status}
  <input type="button" name="" value="{ban_change_status}" onClick="window.location='change.ban.status.php'">
  <br>
  Ban Kind: {ban_kind}
  <input type="button" name="" value="{ban_change_kind}" onClick="window.location='change.ban.kind.php'">
  <br>
  Ban rules:
  <table width="500" border="0" cellspacing="0" cellpadding="0">
    {ban_rules}
  </table>
  <input type="submit" name="Submit3" value="Do Changes">
</form>
<form name="form2" method="post" action="do.add.ban.php">
  <h3>Add a new ban </h3>
  <table width="500" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="251">Ban on: </td>
      <td width="249"><select name="ban" id="ban">
          
	  {ban_list}
        
          <option value="ip">ip</option>
        </select></td>
    </tr>
    <tr>
      <td colspan="2">Select the field which to check for rule </td>
    </tr>
    <tr>
      <td>Ban Rule: </td>
      <td><input name="rule" type="text" id="rule"></td>
    </tr>
    <tr>
      <td colspan="2">If member provides this information in the selected signup field he will not be allowed to signup or if the site is on full restriction if the ip he has is the one inserted in this field he will be denied access to the site. </td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
          <input type="submit" name="Submit4" value="Add">
        </div></td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
