<form name="form1" method="post" action="{action}">
  <table width="318" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#EFEFEF">
      <td colspan="2"><strong>Admin Name: </strong></td>
    </tr>
    <tr>
      <td width="318" colspan="2"><input type="text" name="admin" id="admin" maxlength="100" width="200" value='{writer}'/></td>
    </tr>
    <tr bgcolor="#EFEFEF">
      <td colspan="2"><strong>Note: </strong></td>
    </tr>
    <tr>
      <td width="318" colspan="2"><textarea name="notes" id="notes" rows="5" cols="50">{message}</textarea></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="Submit" value="{save_name}">
        <input type="button" name="Submit2" value="Close window" onClick="window.self.close();"></td>
    </tr>
  </table>
</form>
