<form name="stormpay_form" method="post" action="https://www.stormpay.com/stormpay/handle_gen.php" target=_top>
  <input type="hidden" name="generic" value="1">
  <input type="hidden" name="payee_email" value="{stormpay_email}">
  <input type="hidden" name="user1" value="{id}">
  <input type="hidden" name="product_name" value="{name}">
  {stormpay_amount}
  {recurring_stormpay}
  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="require_IPN" value="1">
  <input type="hidden" name="notify_URL" value="{stormpay_notify_url}">
  <input type="hidden" name="return_URL" value="{stormpay_return_url}">
  <input type="hidden" name="cancel_URL" value="{cancel_return}">
  <input type="image" src="https://www.stormpay.com/stormpay/images/ClickHereBuySP1.gif">
  <input type="hidden" name="user2" value="{custom}">
</form>
