<p><font color="#076C9F"><b><font size="5">Meta Description</font></b><br></font>
<p>This page controls the default meta description and title for your site.</p>
<form name="form1" method="post" action="do.keywords.changes.php" onsubmit="if (document.form1.description.value.length > 255){ (alert('The description has more than 255 characters')); return false;}">
  <p><b><font size="4">Default Title:</font></b></p>
  This will show in your Title Bar on your site and it is important search engines.</p>
  <textarea name="keywords" id="keywords" rows="2" cols="72">{keywords}</textarea>
  <br>
  <p><b><font size="4">Default Meta-Description</font></b><br>
   Enter a short description of your site. The description should have less than 160 characters.</b></p>
  <textarea name="description" id="description" rows="3" cols="72">{description}</textarea>
  <br />
  <input name="Do Changes" type="submit" id="Do Changes" value="Save">
</form>
<b>Hint:</b> You can get complete control over the title of each page with the SEO PowerPack available from
<a href="http://marketingwebsitegenerator.com">Marketing Website Generator</a>
