<form action="subscr.list.php" method="post">
  <table>
    <tr>
      <td >Search subscriber id: </td>
      <td rowspan="2" valign="top"><input name="search" id="search" size="20" value="" type="text"></td>
      <td rowspan="2" valign="top"><input name="submit" id="submit" value="Search" type="submit"></td>
    </tr>
  </table>
</form>
<div id="members_content" name="members_content">
<p><font color="#076C9F" size="5"><strong> Subscribers List </strong></font></p>
<hr>
<table width="90%" border="0" cellpadding="0" cellspacing="3" align="center" style="border: 2px solid #000066;">
  <tr>
    <td><table width="90%" border="0" cellpadding="0" cellspacing="2" align="center">
        <tr bgcolor="#e6f4fb">
          <td><b>Membership</b></td>
          <td><b>member id</b></td>
          <td><b>email</b></td>
          <td><b>first_name</b></td>
          <td><b>last_name</b></td>
          <td><b>s_date</b></td>
          <td><b>aff</b></td>
          <td><b>Subscriber id</b></td>
          <td><b>Action</b></td>
        </tr>
        {rows}
      </table></td>
  </tr>
</table>
<br />
<center>
  {pages}
</center>
