<form name="form1" method="post" action="a.tr.add.note.php">
  {warning}
  <table width="318" border="0" cellspacing="0" cellpadding="0">
    </tr>
    
    <tr bgcolor="#EFEFEF">
      <td colspan="2"><strong>Note: </strong></td>
    </tr>
    <tr>
      <td width="318" colspan="2"><textarea name="note" id="note" rows="5" cols="50">{message}</textarea></td>
    </tr>
    <tr>
      <input type="hidden" name="id" value="{id}"/>
      <td colspan="2"><input type="submit" name="Submit" value="{save_name}">
        <input type="button" name="Submit2" value="Close window" onClick="window.self.close();"></td>
    </tr>
  </table>
</form>
