<p>Welcome to the MWG Home Page.</p>
<p>You can edit this page by logging into the administrator, and choosing Site | Edit Templates from the main menu.</p>
<p>Then choose the "homepage.html" template.</p>
<p>The all new <a href="http://marketingwebsitegenerator.com/">Marketing Website Generator</a> features the most most advanced marketing software we've ever released. With built in subscription management; unlimited membership levels; a plethora of plugins (we call them Gizmos); up to 2 levels of Joint Venture partners; a wide array of one-time offers, upsells, downsells and log in messages; plus complete affiliate and downline tracking; MWG has enough power and flexibility for every professional marketing website.<br /><br /> Along with the wide array of layout and flexibility options, MWG also features powerful dynamic functionality through Gizmos including video players, SEO optimization, social bookmarking, corner ad peels, 3 tier SplitMenu system, countdown timers and so much more.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>