<table>
  <tr>
    <td colspan="7"><table border="1" width="100%">
        <tr>
          <td align="right" valign="middle"><select name="month" id="month" size="1" onchange="var month = document.getElementById('month').value;window.location='member.area.calendar.php?month='+month;">
              
		{month_select}
	
            </select>
            &nbsp;
            <select name="year" id="year" size="1" onchange="var year = document.getElementById('year').value;window.location='member.area.calendar.php?year='+year;">
              
		{year_select}
	
            </select></td>
        </tr>
        <tr>
          <td align="center"> {prev_month}
            &nbsp;<strong>{curr_month}&nbsp;{curr_year}</strong> &nbsp;{next_month}</td>
        </tr>
      </table>
  <tr>
    <td align="center" width="14%">Su</td>
    <td align="center" width="14%">Mo</td>
    <td align="center" width="14%">Tu</td>
    <td align="center" width="14%">We</td>
    <td align="center" width="14%">Th</td>
    <td align="center" width="14%">Fr</td>
    <td align="center" width="14%">Sa</td>
  </tr>
  <tr>
    <td align="center" {style1}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z1}</a></td>
    <td align="center" {style2}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z2}</a></td>
    <td align="center" {style3}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z3}</a></td>
    <td align="center" {style4}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z4}</a></td>
    <td align="center" {style5}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z5}</a></td>
    <td align="center" {style6}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z6}</a></td>
    <td align="center" {style7}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z7}</a></td>
  </tr>
  <tr>
    <td align="center" {style8}><a href="" onclick="window.open('member.area.notes.php','','width=500,height=200')">{z8}</a></td>
    <td align="center" {style9}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z9}</a></td>
    <td align="center" {style10}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z10}</a></td>
    <td align="center" {style11}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z11}</a></td>
    <td align="center" {style12}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z12}</a></td>
    <td align="center" {style13}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z13}</a></td>
    <td align="center" {style14}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z14}</a></td>
  </tr>
  <tr>
    <td align="center" {style15}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z15}</a></td>
    <td align="center" {style16}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z16}</a></td>
    <td align="center" {style17}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z17}</a></td>
    <td align="center" {style18}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z18}</a></td>
    <td align="center" {style19}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z19}</a></td>
    <td align="center" {style20}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z20}</a></td>
    <td align="center" {style21}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z21}</a></td>
  </tr>
  <tr>
    <td align="center" {style22}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z22}</a></td>
    <td align="center" {style23}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z23}</a></td>
    <td align="center" {style24}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z24}</a></td>
    <td align="center" {style25}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z25}</a></td>
    <td align="center" {style26}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z26}</a></td>
    <td align="center" {style27}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z27}</a></td>
    <td align="center" {style28}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z28}</a></td>
  </tr>
  <tr>
    <td align="center" {style29}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z29}</a></td>
    <td align="center" {style30}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z30}</a></td>
    <td align="center" {style31}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z31}</a></td>
    <td align="center" {style32}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z32}</a></td>
    <td align="center" {style33}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z33}</a></td>
    <td align="center" {style34}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z34}</a></td>
    <td align="center" {style35}><a href="" onclick="window.open('member.area.notes.php','','width=442,height=200')">{z35}</a></td>
  </tr>
  {last_days}
</table>