<script language=JavaScript src='js/functions.js'></script>
<script>
function confirmSubmit()
{
var agree=confirm("{text_for_popup}");
if (agree)
	return true ;
else
	return false ;
}
// -->
</script>
<script language=JavaScript src='js/functions.js'></script>
<p>&nbsp;</p>
<p align="center"><strong><font color="#990000" size="5">This Is A Test. You Are Seeing The First One Time Offer Page.</font></strong></p>
<p>&nbsp;</p>
<p>The one time offer page. Insert here the sales copy.</p>
<p align="center">{OTO1}</p>
<p align="center"><a onclick="return confirmSubmit()"
href="continue.php?no=1">{text_no_buy}</a> 