<div id="yes_no" align="center" style="z-index:100; display:none; position:absolute;">
  <table style="top:100px" width="300" border="3" cellpadding="10" bgcolor="#ffffff" cellspacing="2" bordercolor="#660000">
    <tr>
      <td><table width="100%" border="0" cellpadding="3" align="center" bgcolor="#FFFFFF" height="100%" >
          <tr>
            <td ><div id='first_text' align="center"><font face="Verdana" font-size="11px">Please Wait While Your Order Is Processed ...</font></div></td>
          </tr>
          <tr>
            <td ><div id='processing' align="center" style="display:none;"><font face="Tahoma" font-size="11px">[<img src="images/processing5.gif" align="middle">]</font></div></td>
          </tr>
          <tr>
            <td  style="cursor:pointer" align="center"><table cellpadding="0">
                <tr>
                  <td><b><font face="Tahoma" size="+1">
                    <div id='timer'></div>
                    </font></b></td>
                  <script>
 var break_timmer=0;
function coolRedirect(template)
{
   var e = document.getElementById('timer');
   var cTicks = 6;
   var timer = setInterval(function()
   {
      if( cTicks && break_timmer==0)
      {
         e.innerHTML = --cTicks;
		 
      }
      else
      {
         clearInterval(timer);
		if(break_timmer==0)		
		{
			break_timmer=1
			document.getElementById('processing').style.display='';
			document.getElementById('first_text').style.display='none';
			document.getElementById('timer').style.display='none';
			document.getElementById('tr_cancel').style.display='none';
			if (template == 2){
				document.form2.submit();
			}else{
				document.form1.submit();
			}
		}	
		else {
			document.getElementById('processing').style.display='none';		
		}
		  
      }
   }, 1000);
}
</script>
                </tr>
              </table></td>
          </tr>
          <tr id='tr_cancel'>
            <td style="cursor:pointer;color:#778899; font-family:tahoma; font-size:11px" onClick="document.getElementById('yes_no').style.display='none'; break_timmer=1;" align="center";> [Cancel]</td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
<script>
var IE = document.all?true:false;
if (!IE) document.captureEvents(Event.MOUSEMOVE)
document.onmousemove = getMouseXY;
var tempX = 0;
var tempY = 0;
function getMouseXY(e) {
if (IE) { // grab the x-y pos.s if browser is IE
tempX = event.clientX + document.body.scrollLeft;
tempY = event.clientY + document.body.scrollTop;
}
else {  // grab the x-y pos.s if browser is NS
tempX = e.pageX;
tempY = e.pageY;
}  
if (tempX < 0){tempX = 0;}
if (tempY < 0){tempY = 0;}  
document.getElementById('MouseX').value = (tempX+10);
document.getElementById('MouseY').value = tempY;
return true;
}
</script>
<input type="hidden" id="MouseX">
<input type="hidden" id="MouseY">
<form action="auth_capture.php" name="form{button_id}" method="post" onsubmit="
document.getElementById('yes_no').style.top=(document.getElementById('MouseY').value-90)+'px';
document.getElementById('yes_no').style.left=(document.getElementById('MouseX').value-70)+'px';
document.getElementById('yes_no').style.display='block';
coolRedirect(1);
return false;">
  <input type="hidden" id="product_id" name="product_id" value="{product_id}" />
  <input type="hidden" id="member_id" name="member_id" value="{member_id}" />
  <input type="hidden" id="ip_address" name="ip_address" value="{ip_address}" />
  <input type="hidden" id="custom" name="custom" value="{custom}" />
  <input type="hidden" id="shipping_amount" name="shipping_amount" value="{shipping_amount}" />
  <input type="image" src="{auth_button}" onclick="break_timmer=0;document.getElementById('timer').innerHTML='6'" />
</form>
