body {
	width:100%;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: #d2d2d2;
	text-align: center;
}
.clr {
	clear: both;
	font-size:0;
	line-height:0;
}

#page_bg {
	padding: 0;
	margin:0;
	background: #d2d2d2;
	text-align:center;
}
#under {
	background: #9c9c9c url(../images/bg.png) top center repeat-x;
}

#bottom {
	background: url(../images/bg_bottom.png) bottom left repeat-x;

}

#wrapper{
	width:960px;
	margin:0 auto;
	text-align:center;
}

#top_menu{
	width:950px;
	height:26px;
	padding: 22px 0 0 10px;
	margin:0;
}

#topnavi{
	margin:0;
	padding:0;
	text-align:left;
	height: 26px;
	line-height: 26px;
}

#topnavi ul {
	margin: 0;
	padding: 0;
	height:26px;
	text-align: center;
	list-style: none;
}

#topnavi ul li {
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

#topnavi li a {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	float: left;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	margin: 0;
	cursor: pointer;
}

#topnavi li a:hover {	
	background: url(../images/but_hover.gif) bottom center no-repeat;
	color: #fff;
}

#topnavi li a.current {
	color: #fff;
	background: url(../images/but_hover.gif) bottom center no-repeat;
}

#topnavi li a span {
	height: 26px;
	float: left;
	padding: 0 4px 0 0;
}

.holder_m{
	background:#feffff;
}
.holder_l{
	background:#feffff url(../images/top_left.png) top left no-repeat;
}
.holder_r{
	background:transparent url(../images/top_right.png) top right no-repeat;
	padding:10px;
}

#header{
	background: transparent url(../images/header.jpg) top center no-repeat;
	width:940px;
	height:260px;
}
#header_img{
	background: transparent url(../images/header_img.jpg) top center no-repeat;
	width:940px;
	height:260px;
}

#logo{
	padding:0 0 0 46px;
	width:848px;
}
table.header_logo{
	margin:0;
}

table.header_logo td{
	height:230px;
	vertical-align:middle;
}

#logo h1{
	font-size:36px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	text-align:left;
	color:#fff;
	padding:0;
	margin:0;
}

#pathway{
	margin: 0;
	padding: 0 0 0 10px;
	width: 100%;
	height: 30px;
	text-align:left;
	width:940px;
}
div#pathway span {
	color:#666;
	font-size:11px;
	font-family:Tahoma, Arial, Verdana, sans-serif;
	height:30px;
	line-height:30px;
	padding:0;
	text-align:left;
}
a.pathway:link, a.pathway:visited {
	color:#666;
	font-size:11px;
	font-family:Tahoma, Arial, Verdana, sans-serif;
	height:30px;
	line-height:30px;
	text-decoration:underline;
}
a.pathway:hover{
	color:#8D8C8C;
	text-decoration:underline;
}


.content_m{
	background: transparent url(../images/content_middle.gif) top left repeat-y;
}
.content_gradient{
	background: #fff url(../images/content_gradient.png) top left repeat-x;
	width:938px;
	margin:0 auto;
}
.content_bottom{
	background: transparent url(../images/content_bottom.gif) bottom center no-repeat;
	height:10px;
}

#content{
	width:920px;
	margin:0 auto;
	padding:0;
	text-align:center;
}
#leftcolumn , #rightcolumn {
	float: left;
	margin: 0;
	padding: 0;
	width: 160px;
	text-align: center;
}
#leftcolumn div.module, #rightcolumn div.module {
	margin:0px;
	padding:0 0 10px 0;
	text-align:center;
	width:160px;
}

#leftcolumn div.module div, #rightcolumn div.module div{
	padding:0;
	margin:0;
}
#leftcolumn div.module div div, #rightcolumn div.module div div {
	padding:0 0 5px 0;
	margin:0;
}
#leftcolumn div.module div div div, #rightcolumn div.module div div div {
	padding:0;
	margin:0;
	color:#555;
	font-size:11px;
}

#leftcolumn .module div div div h3, #rightcolumn .module div div div h3 {
	background: transparent url(../images/h3_bullet.gif) center left no-repeat;
	font-size:11px;
	font-family:Tahoma, Verdana, sans-serif;
	font-weight:bold;
	text-align:left;
	height:30px;
	line-height:28px;
	margin:0;
	padding:0 0 0 10px;
	color:#6c6c6c;
}

#leftcolumn div.module div, #rightcolumn div.module div{
	padding:0;
	margin:0;
}

#leftcolumn div div.module div div div div, #rightcolumn div div.module div div div div{
	padding:10px 0 0 0;

}
#leftcolumn table td, #rightcolumn table td{
	color:#555;
	font-size:11px;
	font-family: Tahoma, Verdana, sans-serif;
	padding: 0;
	vertical-align:bottom;
}
#leftcolumn div.module div div div table, #rightcolumn div.module div div div table{
	margin:0 auto;
	padding:2px 0 0 0;
	width:160px;
}
#leftcolumn div.module div div div table td, #rightcolumn div.module div div div table td{
	margin:0 auto;
	padding:0;
	vertical-align:middle;
}

#leftcolumn div.module form table{ /* modula za registracia */
	padding:0;
	text-align:left;
	margin:0 auto;
	font-size:12px;
	font-family:Tahoma, Verdana, sans-serif;
	color:#ab854c;
}
#leftcolumn div.module div div div form table tr td {
	margin:0px;
	padding:0px;
	text-align:left;
}
#leftcolumn div.module div div div form table td, #rightcolumn div.module div div div form table td{
	background:none;
}

#leftcolumn div.module form{ /* modula za registracia */
	padding:6px 0;
	text-align:center;
	margin:0 auto;
	font-size:12px;
	font-family:Tahoma, Verdana, sans-serif;
	color:#ab854c;
	width:160px;
}

#mod_templatechooser_jos_change_template{
	float:left;
	font-size:11px;
	border:1px solid #494949;
	color:#494949;
}

#leftcolumn div.module div div div div{  /** menuto v liava kolona**/
 	text-align:left;
	margin:0 auto;
}
div.module div div div form table{
	width:160px;
}
a.mainlevel:link, a.mainlevel:visited {
	margin: 0;
	padding: 0 0 0 10px;
	line-height: 18px;
	text-decoration: none;
	color: #555;
	font-weight: normal;
	font-size: 11px;
	font-family:Tahoma, Arial,sans-serif;
	background: transparent url(../images/menu_arrow.gif) center left no-repeat;
}
a.mainlevel:hover {
	font-weight: normal;
	color: #8d8c8c;
}

a#active_menu.mainlevel:link, a#active_menu.mainlevel:visited {
	color: #8d8c8c;
	font-weight: normal;
}

a#active_menu.sublevel:link, a#active_menu.sublevel:visited  {
	color: #8d8c8c;
}

a.sublevel:link, a.sublevel:visited{
	text-decoration: none;
	color: #555;
	font-size: 11px;
	font-weight: normal;
	font-family:Tahoma, Arial,sans-serif;
	height:18px;
	line-height: 18px;
	border: none;
	padding: 0 0 0 10px;
	margin:0 0 0 8px;
	background: transparent url(../images/menu_arrow.gif) center left no-repeat;
}
a.sublevel:hover {
	color: #8d8c8c;
}

#main {
	float: left;
	width: 580px;
	padding:0;
	font-size:12px;
	margin:10px;
}
div#main{
	text-align:left;
}

#main_full{
	float: left;
	width: 750px;
	padding:0 0 10px 0;
	margin: 10px 0 0 0;
	font-size:11px;
	text-align:left;
	color:#666;
}
.latest_news {
	float:left;
	background:transparent url(../images/newsflash.png) bottom left no-repeat;
	height:180px;
	width:280px;
	overflow:hidden;
	text-align:center;
	padding:0;
	margin:0 10px 0 0;
}
.latest_news ul{
	margin:0;
	padding:10px 10px 0 10px;
	text-align:left;
	width:260px;
	height:125px;
	overflow:hidden;
}

.latest_news h3, #news_flash .module div div div h3{
	background:transparent url(../images/h3_newsflash.png) top center no-repeat;
	font-family: Tahoma, Arial, sans-serif;
	width:200px;
	height:30px;
	line-height:30px;
	font-size: 12px;
	font-weight:bold;
	text-align:center;
	margin:0 auto;
	padding:0;
	color:#929292;
}

.latest_news ul li{
	list-style-image: url(../images/li1.jpg);
	padding:0;
	margin:0;
	width:160px;
}

.latest_news ul li a{
	line-height:18px;
	color:#929292;
}
.latest_news ul li a:link, .latest_news ul li a:visited {
	font-size:11px;
	text-decoration:none;
	font-weight: normal;
	color: #929292;
	outline: none;
}
.latest_news ul li a:hover, .latest_news ul li a.current{
	font-size:11px;
	text-decoration:underline;
	font-weight: normal;
	color: #929292;
	outline: none;
}

#news_flash {
	float:left;
	background:transparent url(../images/newsflash.png) bottom left no-repeat;
	height:180px;
	width:280px;
	overflow:hidden;
	padding:0;
	text-align:center;
}

#news_flash div div div{
	width:280px;
	padding:0;
	margin: 0;
}
#news_flash .module div div { /* padding 20 za da ne stiga texta do dolu */
	padding:0 0 22px 0;
	margin:0;
	overflow:hidden;
	height:130px;
}

#news_flash  table.contentpaneopen td{
	padding:10px 10px 0 10px;
	height:80px;
}

#news_flash table.contentpaneopen  {
	width:280px;
	float:left;
	padding:0;
	margin:0;
}

#leftcolumn div.module div div div div div{  /** syndicate **/
 	text-align:center;
	padding:0;
	margin:0 auto;
}

.module .syndicate{
	margin:0 auto;
	width:160px;
	text-align: center;
	padding:10px 0 0 0;
}

div.syndicate {
	padding:0;
	margin:0 auto;
	text-align:center;	
} 

td {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	color: #7c7c7c;
}
table.blog{
	margin:0 auto 40px;
}
.contentpaneopen table td{
	text-align:left;
}
.text{
	text-align:left;
	padding:0 0 0 10px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size:11px;
	line-height: 12px;
}
.message{
	color:#7c7c7c;
}
div div div form{
	margin:0 auto;
	text-align:left;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position:outside;
}

li{
	padding-left: 0;
	padding-top: 0;
}


/**  Linkove  **/
a {
	outline: none;
}
a:link, a:visited {
	text-decoration: underline;
	font-weight: normal;
	color: #989898;
	font-size:11px;
}
a:hover {
	text-decoration: none;
}
div.syndicate {
	padding:0;
	margin:0 auto;
	text-align:center;	
} 

body.contentpane {
	background: #fffdfd;
	text-align: left;
	padding:4px;
	color:#666;
}

body.contentpane a:link, body.contentpane a:hover, body.contentpane a:visited{
	color:#989898;
}
body table.contentpaneopen td.createdate, body table.contentpaneopen td.modifydate{
	color:#666;
}
body table.contentpaneopen td span{
	color:#666;
}

body.contentpane table td{
	color:#666;
}

body.contentpane .contentpaneopen {
	width: 100%;
}

body.contentpane .contentpaneopen .contentheading {
	color:#494949;
}
h2, .contentheading{
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 14px;
	vertical-align: middle;
	color: #666;
	text-align: left;
	font-weight: bold;
	margin-bottom:0;
}

.moduletable {
	margin: 0 auto;
}
select.button {
	width: auto;
	padding: 0;
}

.pagenav_prev, .pagenav_next {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	color: #666;
	font-size: 11px;
}

p {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: justify;
}

table.contentpaneopen td.contentheading {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	vertical-align: middle;
	color: #666;
	font-weight: bold;
	padding: 0;
	margin:0;
}
table.contentpane ul{
	margin : 0;
	padding : 0;
}
table.contentpane ul li{
	line-height:14px;
	padding:0;
}
table.pollstableborder{
	border:none;
}
.module div div div form table.poll {
	text-align:center;
}
.poll {
	font-size:11px;
	text-align:center;
}
.poll table td{
	font-size:11px;
	text-align:left;
	padding:5px 5px 0 0;
}

.button {
	cursor:pointer;
	font-family: Tahoma, Arial, sans-serif;
	margin:3px 0;
	padding:0 2px 2px 2px;
	height:22px;
	line-height:16px;
	border: 1px solid #494949;
	color:#494949;
	background:#e8e8e8;
}
input.button  {
	background:#e8e8e8;
	color: #494949;
	font-size: 11px;
	border: 1px solid #494949;
}

input.button:hover  {
	cursor: pointer;
}

input[type="checkbox"], input[type="radio"]{
	border:none;
}
body.contentpane input.inputbox{
	margin:0 0 5px 0;
}
#searchphraseany, #searchphraseall, #searchphraseexact{
	border:none;
}
#mos_change_template{
	border: 1px solid #494949; 
	width:112px;
	color:#666;
}
#mod_login_remember{
	border:none;
	background:none;
	padding:0;
	margin:0;
}
#mod_login_username, #mod_login_password{
	width:124px;
	margin:0 0 5px 0;
}
#contact_text{
	border: 1px solid #494949;
}
input.inputbox{
	background:#e8e8e8;
	border: 1px solid #494949; 
	color:#494949;
	
}
.inputbox{
	background:#e8e8e8;
	border: 1px solid #494949; 
	color:#494949;
}

.back_button {
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	width: auto;
	padding: 0px;
	line-height: 20px;
	margin: 10px 0 50px 0;
}

.componentheading {
	margin: 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #666;
	padding: 0 0 10px 0;
	font-weight:bold;
}
element.style{
	margin:10px;
	padding:0;
}

#footer {
	background: transparent url(../images/footer_bg.gif) top left repeat-x;
	margin: 3px auto 0;
	width: 960px;
	height: 172px;
	color: #999;
	padding:0;
}
.copyright {
	font-size: 11px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding:10px 0 0 0;
	color: #999;
	font-family:Tahoma, Arial, Verdana, sans-serif;
}

a.sgfooter:link, a.sgfooter:visited {
	color: #999;
	font-size: 11px;
	font-family:Tahoma, Arial, Verdana, sans-serif;
	text-decoration: none;
}
a.sgfooter:hover {
	color: #999;
}

img, table{
	border:none
}
a img {
	border: none;
}

.pagenav {
	font-size:11px;
	font-weight:normal;
}

a.toclink:link, a.toclink:visited {
	line-height:normal;
	font-size:11px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	color: #989898;
	text-decoration: underline;
}
a.toclink:hover {
	text-decoration: none;
}
table.contenttoc {
	padding: 4px;
	margin-left: 4px;
	margin-bottom: 2px;
}

table.contenttoc th {
	color: #666;
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	height: 21px;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}
.sectiontableheader {
	height: 20px;
	padding-right:3px;
	font-weight :normal;
}
.sectiontableentry2, .sectiontableentry1 {
	font-size: 11px;
	text-align:left;
	padding:2px;
}
#rightcolumn .sectiontableentry1{
	background:none;
}
.sectiontableentry1 {

}

.sectiontableentry2 {

}

table.contentpane {
	padding: 0;
	margin:0 0 20px 0;
}

table.contentpane td.contentdescription {
	font-size:11px;
	line-height:18px;
	padding: 0;
}

table.contentpane td.componentheading {
	height: 20px;
	padding: 0 0 3px 0;
	color: #fff;
	text-align: left;
	padding-bottom:3px;
	white-space: nowrap;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
table.contentpane td {
	padding-top:1px;
	padding-bottom:2px;
	font-size:11px;
	text-align:left;
}
table.contentpaneopen {
	margin:0;	
}
table.contentpaneopen td {
	line-height: 14px;
	font-size:11px;
	text-align:justify;
}

.height {
	height: 100%;
}

.small {
	font-size: 11px;
	color: #b7b7b7;
	font-weight: normal;
	text-align: left;
}
.searchintro{
	font-size:11px;
	text-align:left;
}

table.contentpaneopen  td.createdate {
	height: 20px;
	vertical-align: top;
	font-size: 11px;
	color: #b7b7b7;
	font-weight: normal;
	padding-top: 0px;
	text-align:left;
}
table.contentpaneopen td.modifydate {
	height: 20px;
	vertical-align: top;
	font-size: 11px;
	color: #b7b7b7;
	font-weight: normal;
	padding-top: 0px;
	text-align:right;
}
.modifydate{
	text-align:right;
}
/** Data **/
.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 11px;
	color: #b7b7b7;
	font-weight: normal;
	text-align: right;
}

table.contentpaneopen td a.readon{
	display: block;
	float: right;
	line-height: 14px;
	font-size: 11px;
	font-family:Tahoma, Arial, Verdana, sans-serif;
	color:#989898;
	text-decoration: underline;
	padding: 1px 2px 1px 2px;
}

table.contentpaneopen td a.readon:hover{
	text-decoration: none;
}

.blog_more {
	margin: 2px 8px;
	font-size:11px;
	font-weight:bold;
	text-align:left;
}

h4 {
	font-size: 10px;
	text-transform: uppercase;
}
table.contentpaneopen td.buttonheading {

	}