<style type="text/css">
<!--
.style1 {
	font-size: 13px;
	font-weight: bold;
}
-->
</style>
<script language="JavaScript">
function CheckAll()
{
        for (var i=0; i<document.form_members_list.elements.length; i++)
        {
                var elem = document.form_members_list.elements[i];
                if ((elem.name.substring(0, 6) == 'check[') && (elem.type == 'checkbox'))
	                elem.checked = document.form_members_list.checkbox.checked;
        }
}
</script>
<table width="739" border="0" align="center" cellpadding="6" cellspacing="0" class="box2" bgcolor="#FFFF66">
  <td align="left" valign="top">
      <p align="center"><b><font size="+1">Totals <font color="#CC0000">Currently 
        Earned </font>by Affiliates - <font color="#CC0000">Not Yet Paid</font></font></b></p>
    </td>
  </tr>
</table>
  <br>
  <table width="739" border="0" align="center" cellpadding="6" cellspacing="0" class="box2">
  <td align="left" valign="top"><p align="center"><span class="style1"><a href="a.adm.main.php">BACK TO MAIN AFFILIATE PAGE</a></span><br>
    </p></td>
  </tr>
  </table>
  <br>
  <table width="90%" align="center" cellpadding="6" class="box">
    <tr>
      <td ><form action="a.adm.do.php" method="post" name="form_members_list" id="form_members_list">
      <table width="95%" border="0" align="center" cellpadding="1" cellspacing="2">
            <tr class="box2">
              <td><div align="left"><strong>Member ID:</strong></div></td>
              <td><div align="left"><strong>Email:</strong></div></td>
              <td>
              <div align="right"><strong>Amount ($): </strong></div>
            </td>
            </tr>
        {rows}
            <tr class="box2">
              <td><div align="left"></div></td>
              <td>
              <div align="right"><strong>TOTAL:</strong></div>
            </td>
              
            <td bgcolor="#FFFF00"> 
              <div align="right"><strong><font size="+2">${total}</font></strong></div>
            </td>
            </tr>
			<tr>
				
            <td colspan="3">&nbsp; </td>
			</tr>
      </table>
	        </form>
	  </td>
    </tr>
  </table>
  
