<style type="text/css">
<!--
.style1 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
<h2><font color="#076C9F">Edit Payout Commission Structure For Memberships</font></h2>
<hr color="#076C9F" size="1">
<form action="do.levels.changes.php" method="post" name="a" id="a">
  <p><b><font size="4">Current Commission structure for your memberships</font></b></p>
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td> {levels_list} </td>
    </tr>
  </table>
</form>
<hr color="#076C9F" size="1">
<h2><font size="4">Edit/Overwrite Commission structures above</font></h2>
<p>Note, you can edit the commission structures above (recommended.) If you use 
  this function below, it will overwrite the ones above.</p>
<p align="center" class="style1">{error}</p>
<form name="form1" action="do.add.new.level.php" method="post" onsubmit="if(document.form1.level.value > 1) return confirm('You should not use more than 1 tier if using PayPal. It is against their TOS and could put your PayPal account in jeopardy of being shut down. If you are using PayPal, make sure to leave this as 1');">
  <table border="0" cellpadding="0" cellspacing="0" width="700">
    <tr>
      <td align="right" valign="top"  colspan="2" width="700"><p align="left"><b>Choose Membership/Product:</b>
          <select name="product_id">
            
      {product_list}
      
          </select>
      </td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top"  colspan="2" width="700"><p align="left"><b>How many tiers do 
          you want to pay out commissions to your members/affiliates for this:</b><br>
          <input id="level" maxlength="3" size="7" name="level" value="1">
          <br>
          <b><font size="1">Note: </font></b><font size="1"><b>You can not use Split 
          Pay when using 2 or more tiers.</b><br>
          <font color="#FF0000"><b>Note: </b></font><b>You should not use more than 1 
          tier if using PayPal.</b> It is <font color="#FF0000"><u><b>against their TOS</b></u></font> and could put your PayPal 
          account in jeopardy of being shut down. If you are using PayPal, make sure 
          to leave this as 1.</font></td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="top" width="187"><p align="right"><b>Pay to: </b><br>
          &nbsp;</td>
      <td align="left" valign="top" width="513"><input name="payto" value="all" checked="" type="radio" onclick="document.getElementById('membership').checked ? document.getElementById('membership').style.display='' : document.getElementById('membership').style.display='none'">
        All Members<br>
        <input value="just" name="payto" type="radio" onclick="document.getElementById('membership').checked ? document.getElementById('membership').style.display='none' : document.getElementById('membership').style.display=''">
        Just These<br>
        <table id="membership" width="100" border="0" cellspacing="0" cellpadding="0" style="display:none">
          {membership_list}
        </table></td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="187"><b>Pay Affiliates<br>
        Method</b></td>
      <td align="right" valign="top" width="513"><p align="left">
          <input name="paymode" type="radio" value="1" checked >
          Monthly Using Mass Pay&nbsp;<br>
          <input value="split" name="paymode" type="radio">
          Instantly to Their PayPal account using Instant Spilt Payment to affiliate then to (you) Admin/Site 
          Owner</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="187"><b>Enter Amount or
        Percentage
        to Pay Affiliate</b><br>
        &nbsp;</td>
      <td valign="top" width="513" >&nbsp;&nbsp; {currency} / <b>%</b>
        <input id="value" name="value" size="10" value="50.00">
        <font size="1"> Just enter number like 50.00 Do not Add any {currency} or %</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="paytype" type="radio" value="percent" checked>
        Percent<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input value="full_amount" name="paytype" type="radio">
        Flat Amount ({currency})</td>
    </tr>
    <tr>
      <td align="right" valign="top"  colspan="2" width="700">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top"  colspan="2" width="700"><p align="left"> <b>Joint Venture Partners:</b> Use this section below if you want to give 
          friends or or top marketers a higher commission than the normal public. 
          This is a great incentive to give power affiliates a higher commission. 
          Assuming the normal is 50%, you can set JV-1 at 60% and JV-2 at 80% for 
          example.</td>
    </tr>
    <tr>
      <td align="right" valign="top"  colspan="2" width="700">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top"  colspan="2" width="700"><p align="left"><b>Enter Amount or
          Percentage to Pay a Joint Venture 
          Partner-1:</b><br>
          <font size="1">Just enter number like 50.00
          Do not Add any {currency} or %
          <input id="jv1" name="jv1" size="20">
          <br>
          This will use the same
          Percent/Flat Fee selection you chose in the option above.<br>
          *<strong>Note</strong>: This applies 
          only if you make this member is Joint Venture-1&nbsp; in the Members area on the main menu.</font></td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2"><p align="left"><b>Enter Amount or
          Percentage to Pay a Joint Venture 
          Partner-2:</b><br>
          <font size="1">Just enter number like 50.00 Do not 
          Add any {currency} or %
          <input id="jv2" name="jv2" size="20">
          <br>
          This will use the same
          Percent/Flat Fee selection you chose in the option above.<br>
          *<strong>Note</strong>: This applies only if you make this 
          member is Joint Venture-2 in the Members area on the main menu. </font> </td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top" colspan="2"><div align="left">Set the comission so it pays higher for a period of time after the promoter signs up ?
          <input name="highcomms" type="checkbox" id="highcomms" value="1">
          (check if yes) </div></td>
    </tr>
    <tr>
      <td align="right" valign="top" colspan="2"><div align="left">Commision value:
          <input name="highval" type="text" id="highval" size="10">
          for
          <input name="highdays" type="text" id="highdays" size="5">
          days after promoter signs up </div></td>
    </tr>
    <tr>
      <td align="right" valign="top" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" valign="top" width="700" colspan="2"><p align="left">
          <input value="Save Commission Structure" name="Submit" type="submit">
          <font size="1"> <a href="levels.php">Cancel changes</a></font></td>
    </tr>
    <tr>
      <td colspan="1" align="right" width="187">&nbsp;</td>
    </tr>
  </table>
</form>