<style type="text/css">
<!--
.style1 {
	font-size: 13px;
	font-weight: bold;
}
-->
</style>
<script language="JavaScript">
function dif_date(){
	var one_day=1000*60*60*24;
		start = new Date(document.form1.year_start.options[document.form1.year_start.selectedIndex].value, document.form1.month_start.options[document.form1.month_start.selectedIndex].value, document.form1.day_start.options[document.form1.day_start.selectedIndex].value);
		end = new Date(document.form1.year_end.options[document.form1.year_end.selectedIndex].value, document.form1.month_end.options[document.form1.month_end.selectedIndex].value, document.form1.day_end.options[document.form1.day_end.selectedIndex].value);
	return Math.ceil((end.getTime()-start.getTime())/(one_day));
}
function CheckAll()
{
        for (var i=0; i<document.form_members_list.elements.length; i++)
        {
                var elem = document.form_members_list.elements[i];
                if ((elem.name.substring(0, 7) == 'member[') && (elem.type == 'checkbox')){
	                elem.checked = document.form_members_list.checkbox.checked;
					}
        }
}
function expand(id,id_src){
	var elem = document.getElementById(id);
	var src = document.getElementById(id_src);
	if (elem.style.display==''){
		 elem.style.display='none';
		 src.src='../images/plus.gif';
	}else{
		elem.style.display='';
		src.src='../images/minus.gif';
		
	}
}
</script>
<table width="739" border="0" align="center" cellpadding="6" cellspacing="0" class="box2">
  <td align="left" valign="top"><p align="center">Member earnings</p></td>
  </tr>
</table>
<br>
<table width="739" border="0" align="center" cellpadding="6" cellspacing="0" class="box2">
  <td align="left" valign="top"><p align="center"><span class="style1"><a href="a.adm.main.php">BACK TO MAIN AFFILIATE PAGE</a></span><br>
      </p></td>
  </tr>
</table>
<br>
<table width="90%" align="center" cellpadding="6" class="box">
  <tr>
    <td ><form action="a.adm.do.php" method="post" name="form_members_list" id="form_members_list">
        <table width="99%" border="1" align="center" cellpadding="3" cellspacing="0" bordercolor="#eeeeee">
          <tr class="box2">
            <td height="26" bgcolor="#FFFF99"><div align="center"><strong> ID:</strong></div></td>
            <td height="26" bgcolor="#FFFF99"><div align="center"><strong>Paypal&nbsp;Email <i>or</i> <font color="#CC0000">Login&nbsp;Email</font></strong></div></td>
            <td height="26" bgcolor="#FFFF99"><div align="center"><b>Name</b></div></td>
            <td height="26" bgcolor="#FFFF99"><div align="center"><strong>Amt ({currency}): </strong></div></td>
            <td bgcolor="#FFFF99"><div align="center">
                <input type="checkbox" name="checkbox" value="checkbox" onClick="CheckAll();">
                <b>all</b> </div></td>
          </tr>
          {rows}
          <tr class="box2">
            <td><div align="left"></div></td>
            <td>&nbsp;</td>
            <td bgcolor="#FFFF66"><strong>TOTAL:&nbsp;</strong></td>
            <td bgcolor="#FFFF66" ><div align="right"><strong>${total} {currency}</strong></div></td>
            <td><div align="left"></div></td>
          </tr>
          <tr>
            <td colspan="3"> Check this if you want to export profile details 
              
              too
              <input type="checkbox" value="1" name="profile" id="profile" /></td>
          </tr>
        </table>
        <p align="center">&nbsp;</p>
        <table width="90%" border="0" cellpadding="0" align="center">
          <tr>
            <td width="50%"><div align="center">Add comment to selected (visible to aff):<br>
                <textarea name="comment" cols="20" id="comment" rows="1"></textarea>
              </div></td>
            <td width="50%"><div align="center">Add admin note to selected:<br>
                <textarea name="admin_note" cols="20" id="admin_note" rows="1"></textarea>
              </div></td>
          </tr>
        </table>
        <p align="center"><b>Action on Selected</b>:
          <select name="action" id="action">
            <option selected>Choose Action (will also apply comments & notes above 
            if used)</option>
            <option value="0"> Set all SELECTED at Currently Earning (ie move 
            back to active accumulation)</option>
            <option value="1">Set all SELECTED at To be Paid (ie keep current 
            status but add notes) </option>
            <option value="2"> Set all SELECTED at Paid Status (ie for Admin comms 
            - be sure to add notes)</option>
            <option value="3">Cancel Commission for Selected</option>
          </select>
          <input name="m_start" id="m_start" type="hidden" value="{m_start}"/>
          <input name="m_end" id="m_end" type="hidden" value="{m_end}"/>
          <input name="y_start" id="y_start" type="hidden" value="{y_start}"/>
          <input name="y_end" id="y_end" type="hidden" value="{y_end}"/>
          <input name="d_start" id="d_start" type="hidden" value="{d_start}"/>
          <input name="d_end" id="d_end" type="hidden" value="{d_end}"/>
          <input type="submit" name="Submit" value="Do it" >
          <input name="last" type="hidden" id="last" value="a.aff.members.php">
          <input type="hidden" name="time_interval"  value="{time_interval}"/>
          <br>
        </p>
      </form>
      <table width="80%" border="1" cellpadding="10" align="center">
        <tr>
          <td valign="top"><h4 align="center">Step 1: Adjust commissions above as needed</h4>
            <p align="left">Adjust the commissions shown above. </p>
            <p align="left">- If you have admin commissions (including aff=0) 
              you don't usually pay yourself .. so select those lines and mark 
              them as paid .. and include an admin note and/or comment for your 
              own reference</p>
            <p align="left">- If you have a payout minimum amount, select those 
              who fall below the payout threshold and move them back to currently 
              earning .. and include an admin note and/or comment</p>
            <p align="left">- Make any other adjustments you deem necessary. Then 
              move on to step 2.</p></td>
        </tr>
      </table>
      <p><br>
      </p>
      <table width="80%" border="1" cellpadding="10" align="center">
        <tr>
          <td><h4 align="center">Step 2: Save the Mass Pay File for Paypal</h4>
            <p><b>Note</b>: If the email address above is shown in red, then it 
              means the affiliate did not provide any paypal email, so the login 
              email is being displayed instead. </p>
            <p>You may choose to not pay that affiliate until you get a paypal 
              email (select them and choose to move them to currently earning 
              .. and include a comment that you need their paypal email) </p>
            <p>... or you can choose to pay them to their login email instead. 
              (If their login email is not a paypal email, then paypal will send 
              them an email that they have money waiting for them .. so they can 
              add that email to their paypal account.)</p>
            <p>
              <input type="checkbox" name="include_login_emails"  id="include_login_emails" checked/>
              (checked) means to use the login email for the mass pay file when 
              no paypal email has been provided.</p>
            <p align="center"><a style="cursor: pointer; text-decoration: underline; color:#0000FF" onClick="window.location='a.adm.payfile.php?profile='+(document.getElementById('profile').checked ? '1' : '')+'&include_login_emails='+(document.getElementById('include_login_emails').checked ? '1' : '')">Click Here to Get 
              Mass Pay file</a></p></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <table width="80%" border="1" cellpadding="10" align="center">
        <tr>
          <td valign="top"><h4 align="center">Step 3: Pay thru Paypal Mass Pay function</h4>
            <p align="left"><i>(Note: You must have enough funding in your paypal 
              account to cover your commissions, as you cannot pay using mass 
              pay from an alternate funding source.)</i></p>
            <ol>
              <li>Log in to your paypal account</li>
              <li>Click the &quot;Send Money&quot; tab</li>
              <li>Click &quot;Make a Mass Payment&quot; which displays just below 
                the main tabs</li>
              <li>Browse for the mass pay file you just created</li>
              <li>Select &quot;email address&quot; as the Recipient Type</li>
              <li>Type in a subject (all recipients see the same subject) ... 
                ie Jan 2009 commissions from sitename.com</li>
              <li>Type in a general note (all recipients get the same note) .. 
                ie Great job! Keep up the good work!</li>
              <li>Click &quot;continue&quot;</li>
              <li>Verify that the info appears correct. then click &quot;Send 
                Money&quot; to process the mass payment.</li>
            </ol>
            <p>When you pay your affiliates using the &quot;mass pay&quot; system, 
              the affiliate recieves the entire amount due them (instead of a 
              significant processing fee being extracted). You will be charged 
              a nominal fee per mass pay recipient ... typically up to about $1 
              per person, no matter how large that person's payment is. As you 
              can see, using mass pay to pay affiliates is an outstanding system.</p></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <table width="80%" border="1" cellpadding="10" align="center">
        <tr>
          <td valign="top"><h4 align="center">Step 4: Mark all these commissions as PAID</h4>
            <p align="left">When you have successfully paid your affiliates for 
              this pay period, click the link below to tag them all as having 
              been paid (so you don't end up paying them next month for these 
              commissions too.) This will also mark them in the database as having 
              been paid on this date, for future reference.</p>
            <p align="center"><a href="a.aff.set.paid.php">Set paid status to 
              all members.</a></p></td>
        </tr>
      </table>
      <p><br>
        <br>
      </p></td>
  </tr>
</table>
<br>
<br>
