        <tr class="box3">
              <td><div align="right"><strong><a href="members.php?criteria={member_id}&search=id" target='blank'>{member_id}</a>&nbsp;&nbsp;&nbsp;&nbsp;</strong></div></td>
              <td>
    <div align="left"><strong>{paypal_email}<font color="#CC0000">{email}</font></strong></div>
  </td>
              <td><div align="left"><strong>{first_name}&nbsp;{last_name}</strong></div></td>
              
  <td> 
    <div align="center"><strong>${amount}</strong></div>
  </td>
              <td>
    <div align="center">
      <input type="checkbox" name="member[{member_id}]" value="member_id" />
    </div>
  </td>
        </tr>
