<script>
function activation_email_fct(id,id1,id2,id3){
	if (document.getElementById('activation_email').checked){
		document.getElementById('tb_'+id).style.display='';
		
		activation_email_type_fct(id1,id2,id3);
	}else{
		document.getElementById('tb_'+id).style.display='none';
		
		document.getElementById('tb_'+id1).style.display='none';
		document.getElementById('tb_'+id2).style.display='none';
		document.getElementById('tb_'+id3).style.display='none';
		}
}
function activation_email_type_fct(id1,id2,id3)
{
	for (i=0;i<document.form1.activation_email_type.length;i++){
		
		if (document.form1.activation_email_type[i].checked==true){
			document.getElementById('tb_'+id1).style.display='';
			document.getElementById('tb_'+id2).style.display='none';
			document.getElementById('tb_'+id3).style.display='none';
		}else{
			document.getElementById('tb_'+id1).style.display='none';
			document.getElementById('tb_'+id2).style.display='';
			document.getElementById('tb_'+id3).style.display='';
		}
	}
}
</script>
<body onLoad="{chck_funtions}">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th scope="row"><div align="left">
        <h2><font color="#076C9F">System Emails Settings<br>
          </font><span style="font-weight: 400"><strong style="font-weight: 400"> <font size="2">Use this section to manage the main emails that go out from your
          site.</font></strong></span></h2>
        <form name="form1" method="post" action="do.sysemails.changes.php">
          <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><p align="center">
                  <input name="save1" type="submit" id="save0" value="Save Changes">
                  <br>
                  <a href="index.php"><font size="1">Cancel all changes</font></a></p>
                <p>{settings_list} </td>
            </tr>
          </table>
          <p align="center">
            <input name="save" type="submit" id="save" value="Save Changes">
            <br>
            <span style="font-weight: 400"><a href="index.php"><font size="1"> Cancel all changes</font></a></span></p>
          <p>&nbsp; </p>
        </form>
      </div></th>
  </tr>
</table>
</body>
