<form action="do.edit.tier.php?id={level_id}" method="post">
  <table width="100%" cellspacing="0" cellpadding="0" style="border:thin; border-style:solid; border-color:#000066">
    <tr>
      <td colspan="5" bgcolor=#ECFFFF>Editing tier: <strong>{tier}</strong> for membership <strong>{membership_name}</strong> defined for product<strong> {product_name} </strong></td>
    </tr>
    <tr>
      <td colspan="5"  bgcolor="#ECFFFF"><strong>First payment</strong></td>
    </tr>
    <tr>
      <td width="206">Enter Amount or Percentage to Pay Affiliate</td>
      <td colspan="4"><input name="paytype" value="{percent_value}" {percentcheck} type="radio">
        Percent<br>
        <input value="{full_amount_value}" name="paytype" {flatcheck} type="radio">
        Flat Amount ({currency})</td>
    </tr>
    <tr>
      <td width="206">Value {currency} or %:</td>
      <td colspan="4">{st}
        <input name="value" type=text value="{level_value}" size="5">
        {st1}</td>
    </tr>
    <tr>
      <td width="206">JV1 Amount/Percentage:</td>
      <td width="111">{st}
        <input name="jv1" type=text value="{level_jv1}" size="5">
        {st1} </td>
      <td width="183">JV2 Amount/Percentage:</td>
      <td width="86">{st}
        <input name="jv2" type=text value="{level_jv2}" size="5">
        {st1} </td>
      <td width="41"><a href="do.delete.level.php?id={level_id}">Delete</a></td>
    </tr>
    <tr>
      <td align="right" valign="top" colspan="5"><div align="left">Set the comission so it pays higher for a period of time after the promoter signs up ?
          <input name="highcomms" type="checkbox" id="highcomms" value="1" {highcheck}>
          (check if yes) </div></td>
    </tr>
    <tr>
      <td align="right" valign="top" colspan="5"><div align="left">Commision value:
          <input name="highval" type="text" id="highval" value="{high_value}" size="10">
          for
          <input name="highdays" type="text" id="highdays" value="{high_days}" size="5">
          days after promoter signs up </div></td>
    </tr>
  </table>
  <p>
    <input type="submit" name="a" value="Edit">
  </p>
</form>
