<table width="300"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2"><strong>Current CSS settings </strong></td>
  </tr>
  <tr>
    <td width="46%">Font: {font} </td>
    <td width="54%">Size {size} px </td>
  </tr>
</table>
<p>&nbsp;</p>
<form name="form1" method="post" action="do.css.php">
  <table width="300"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2"><strong>Change CSS settings to </strong></td>
    </tr>
    <tr>
      <td width="62%">Font:
        <select name="font" id="font">
          <option value="Times New Roman" {Times New Romanselect}>Times New Roman</option>
          <option value="Arial" {Arialselect}>Arial</option>
          <option value="Verdana" {Verdanaselect}>Verdana</option>
          <option value="Tahoma" {Tahomaselect}>Tahoma</option>
          <option value="Courier New" {Courier Newselect}>Courier New</option>
          <option value="Georgia" {Georgiaselect}>Georgia</option>
        </select></td>
      <td width="38%">Size
        <input name="size" type="text" id="size" value="{size}" size="3">
        px </td>
    </tr>
  </table>
  <p>
    <input type="submit" name="Submit" value="Change">
  </p>
</form>
