<p>
<a href="servlet.php?m=editor&menu=design">Template Editor</a> | 
<a href="menu.php?menu=design">Manage Menus</a> | 
<a href="templates.php?menu=design">Site Templates</a> | 
<a href="css.php?menu=design">Manage CSS</a> | 
<a href="generate.item.php?menu=design">Generate New Pages</a> 
<br>
<a href="promo.tools.php?menu=design">Manage Promo Tools</a> | 
<a href="twitter.php?menu=design">Twitter Tools</a> | 
<a href="faq.php?menu=design">Manage FAQ</a> | 
<a href="cycler.php">Multi&#160;Variable&#160;Split&#160;Tester</a> | 
<a href="cycler_stats.php">Multi Variable Statistics</a> 
</p>
