<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
<h2><font color="#076C9F">Site Templates<br>
  </font><span style="font-weight: 400"><strong style="font-weight: 400"> <font size="2">Here is where you manage every page on your site for what people 
  see. Use the drop down box below to load a template. You will get the HTML code. 
  CUT the code and PASTE it into your favorite WYSIWYG editor like MS FrontPage or 
  Dreamweaver. Then edit the page as you like and the COPY the HTML and PASTE it 
  back in the box and click SAVE CHANGES.&nbsp; </font></strong></span></h2>
<p><strong>Tags to be used in templates: </strong></p>
<p>{tag_list}</p>
<p><strong>Load a template: | </strong> <a target="_self" href="#paybut">Click Here</a> to 
  get payment buttons for this web page offer.</p>
<form name="form1" id="form1">
  <table width="90%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>Main site templates:
        <select name="select" onChange="MM_jumpMenu('parent',this,0)">
          <option selected> </option>
          
		  {templates}
        
        </select></td>
    </tr>
    <tr>
      <td><h5>(modify these to get your site running fast) </h5></td>
    </tr>
    <tr>
      <td>Salespages for memberships:
        <select name="select2" onChange="MM_jumpMenu('parent',this,0)">
          <option selected> </option>
           {templates1}
        
        </select></td>
    </tr>
    <tr>
      <td><h5>(this files are the pages where the members go to buy one of your products)</h5></td>
    </tr>
    <tr>
      <td>Download pages for memberships:
        <select name="select3" onChange="MM_jumpMenu('parent',this,0)">
          <option selected> </option>
           {templates2}
        
        </select></td>
    </tr>
    <tr>
      <td><h5>(here members can download the products they purchased) </h5></td>
    </tr>
    <tr>
      <td>New generated pages:
        <select name="select4" onChange="MM_jumpMenu('parent',this,0)">
          <option selected> </option>
           {templates3}
        
        </select></td>
    </tr>
    <tr>
      <td><h5>(pages you have created from the admin)</h5></td>
    </tr>
    <tr>
      <td>Other site templates:
        <select name="menu1" onChange="MM_jumpMenu('parent',this,0)">
          <option selected> </option>
           {templates4}
        
        </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
<form id="form2" name="form2" method="post" action="do.edit.template.php">
  <table width="550" border="0">
    <tr>
      <td width="141">Template name: </td>
      <td width="399"><strong>{name}</strong></td>
    </tr>
    <tr>
      <td>Template description: </td>
      <td><strong>{description}</strong></td>
    </tr>
    <tr>
      <td>Template filename: </td>
      <td><strong>{filename}</strong></td>
    </tr>
    <tr>
      <td>Content:</td>
      <td><input name="filename" type="hidden" id="filename" value="{filename}" /></td>
    </tr>
    <tr>
      <td colspan="2"><textarea id="contentb" name="contentb" rows=17 cols=84>[[content_template]]</textarea></td>
    </tr>
    <tr>
      <td><input type="submit" name="Submit" value="Save Changes" /></td>
      <td><a href="templates.php"><font size="1">C</font></a><font size="1"><a href="templates.php">ancel 
        changes</a></font></td>
    </tr>
  </table>
</form>
<p>
<hr>
<h2><font size="4"><a name="paybut">T</a>o add payment buttons for your products 
  these below:<br>
  </font> <span style="font-weight: 400"><font size="2">On any page that you want 
  to add a payment button for any product, simply paste this code where you want 
  the order button to appear to a live visitor.</font></span></h2>
<div align="center">
  <center>
    <table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse" bordercolor="#076C9F" width="90%">
      <tr>
        <td width="100%">{product_list}<br>
          {back} </td>
      </tr>
    </table>
  </center>
</div>
<p>&nbsp;</p>