<form method="post" action="do.edit.promo.tool.php" id="Form1">
  <table width="550" border="0">
    <tr>
      <td width="56">Content</td>
      <input type="hidden" value="{k}" name="k" />
      <input type="hidden" value="{id}" name="id" />
      <td width="484">Use this editor to modify the promo tool format. <br />
        <textarea id="content{k}" name="content{k}" rows=7 cols=60>{contentx}</textarea>
        <script> //STEP 2: Replace the textarea (txtContent)
		var oEdit{k} = new InnovaEditor("oEdit{k}");
		oEdit{k}.REPLACE("content{k}");
	</script></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><input name="category" type="text" value="{category}" size="80" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Save promo tool" />
        <input type="button" name="Button" value="Delete Promo Tool" onclick="javascript: window.location.href='do.delete.promo.tool.php?id={id}';"></td>
    </tr>
    <tr>
      <td colspan="2"> {link_move} </td>
    </tr>
  </table>
</form>
