<h2><font color="#076C9F">Create/Edit Custom Memberships</font></h2>
<p>Use this section to Edit an upgrade membership like <b>'Pro'</b> Or <b> 'Gold'.</b> Deactivate any memberships you are not using. If you ever need a new 
  membership to add, simply re-activate one of the ones you currently do not use. 
  The Memberships are currently ranked from lowest at the top down to highest at 
  the bottom. Use the arrows to move the up/down in rank. At any given active 
  membership level, the member will see options to upgrade to memberships below it 
  that are active and also checked accordingly. The upgrade options active and 
  checked will be listed in order to rank as you have them listed here. Use the check boxes under each individual membership to 
  customize which upgrades should be shown to any specific membership level.</p>
<p> <u><font color="#0000FF">Edit Description Page</font></u> | <font color="#0000FF"><u>Edit Members Download Page</u></font> | is to be used 
  for the member to see when they click on the &quot;Membership&quot; in their login area. 
  They will see their current status. The <font color="#0000FF"><u>Edit Members 
  Download Page</u></font> allow them to access the bonus related to that 
  membership. You just need to add your download items or information to that 
  page. If they are seeing an upgrade option for that membership, the <u> <font color="#0000FF">Edit Description Page</font></u> is the description of 
  benefits they will see as to why to upgrade. Your payment buttons are automatically on 
  this page for you. <font color="#BA0000"><span style="font-weight: 700">When Done,</span></font><span style="font-weight: 400"> set the prices for these at&nbsp; &quot;<u><font color="#0000FF">Membership Prices</font></u>&quot; 
  on the menu above</span></p>
<p><span style="font-weight: 700">Referrals Needed,</span><span style="font-weight: 400"> allows you to set a number of referrals they make to the system so that they can 
  get an upgrade to any membership you choose. Leave at </span> <span style="font-weight: 700">0</span><span style="font-weight: 400"> to 
  deactivate.</span></p>
<form name="form1" method="post" action="do.membership.changes.php">
  <p><span style="font-weight: 700">Promotion Codes </span> <span style="font-size: 8pt">can be used to gift people to 
    upgraded memberships. They are great to tell a JV Partner to use to email to 
    their list to get an upgraded bonus or used for support issues to satisfy 
    customers. You can choose to only use when people join on the signup page, or 
    only inside the members area. Or you can choose to have the option available in 
    both areas. So you can say, use xxxx when joining. Current members, login and 
    add xxxx promotion code in your profile. If you do not want to use this feature, 
    just select &quot;Deactivate.&quot; You can make the promotion code any secret text you 
    like with <b><font color="#BA0000">NO SPACES.<br>
    </font></b></span>
    <select name="option">
      <option value='show_promo_signup' {sel_signup}>Activate Promotion codes on signup only</option>
      <option value='show_promo_profile' {sel_profile}>Activate Promotion codes on members profile only</option>
      <option value='show_promo_both' {sel_both}>Activate Promotion codes on both signup and members profile</option>
      <option value='show_promo_none' {sel_none}>Do not Activate Promotion codes</option>
    </select>
  </p>
  <p><b><font size="4">Current Memberships</font></b></p>
  <hr>
  <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
    <p align="left">{membership_list} </p>
  </table>
  <br>
  <input name="Do Changes" type="submit" id="Do Changes" value="Do changes">
</form>
<br>
<form name="form2" method="post" action="do.add.new.membership.php">
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2"><h2><font size="4">Create A New Membership - </font> <span style="font-weight: 400"><font size="1">You have 9 Pre made 
          memberships for you to edit. You may want to edit a membership you have 
          that is Not Active. It is easier than using this step. This should only be 
          used if you need a 10th or more membership. Go to | <u><font color="#0000FF"> Commission Structure</font></u> | on the menu now to edit unused pre made 
          memberships.</font></span><font size="4"><br>
          <br>
          Step #1 - </font><font size="2"> <span style="font-weight: 400">Create a new membership</span></font></h2></td>
    </tr>
    <tr>
      <td width="100%" colspan="2">Membership name:<br>
        <input name="membership_name" type="text" id="membership_name" size="53">
        <br>
        <b>i.e.</b> Elite, Pro, Diamond, Platinum, Gold etc..<br>
        <br></td>
    </tr>
    <tr>
      <td width="100%" colspan="2">Membership promotion code:<br>
        <input name="promo_code" type="text" id="promo_code" size="53" value="NONE">
        <br>
    </tr>
    <tr>
      <td valign="top">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><font size="4"><b>Step #2 - </b></font>Save and then scroll back to 
        top of page and find the new membership added. Then see step 3 below.<br>
        <input type="submit" name="Submit" value="Create New Membership"></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
<p>
<p><font size="4"><b>Step #3 - </b></font>You will then have to go to the admin 
  menu and choose<span style="font-weight: 400"> </span>| <span style="font-weight: 400"><u><font color="#0000FF">Membership Prices</font></u></span> | - Products is where you create 
  the price and payment button information for this (or any) membership.</p>
<p><font size="4"><b>Step #4 - </b></font>Now choose <u> <font color="#0000FF">Edit</font></u> on the right of the membership and 
  create a sales offer to sell the benefits of the upgrade. All the pay 
  buttons and tags you need for the html pages will be already made for you.</p>
<p><font size="4"><b>Step #5 - </b></font>You will then have to go to the admin 
  menu and choose<span style="font-weight: 400"> | <u><font color="#0000FF"> Generate New Pages</font></u> | - Then you create a new page where these members 
  can access their upgraded membership level and/or download bonus items etc..</span></p>
<p><font size="4"><b>Step #6 - </b></font>You will then have to go to the admin 
  menu and choose <span style="font-weight: 400">| <u><font color="#0000FF">Manage Menus</font></u> | - Then you create a new menu link that only these members can see by using the 
  Advance Settings.</span></p>
