<div align="center">
  <center>
    <table width="100%" align="center" cellpadding="0" cellspacing="0" bordercolor="#111111" style="border-collapse: collapse">
      <tr>
        <td valign="top"><table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
            <tr bgcolor="#000000">
              <td width="721" height="20" align="center" bgcolor="#FFFFFF"><p align="left" class="style2" style="margin-left: 10"><strong>Downline</strong></p></td>
            </tr>
            <tr>
              <td><table width="550" border="0" align="center">
                  <tr>
                    <td bgcolor="#CCCCCC"><strong>Id</strong></td>
                    <td bgcolor="#CCCCCC"><strong>Name</strong></td>
                    {display_email} </tr>
                  {downline_rows}
                </table></td>
            </tr>
          </table></td>
      </tr>
    </table>
    <strong><font color="red">{msg}</font></strong> {form}
  </center>
</div>
 