{view}
<table cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" valign="bottom"><img src="../images/axey.GIF" height="220" width="10"></td>
    <td height="200" colspan="2" align="center" valign="bottom">{bars}</td>
  </tr>
  <tr>
    <td ><img src="../images/axex1.GIF" height="10"></td>
    <td colspan="{cols}"><img width={size} src="../images/axex2.GIF" height="10" ><img src="../images/axex3.GIF" height="10"></td>
    <td></td>
  </tr>
  <tr>
    <td width="10"></td>
    <td align="center"><font size="-5">{values}</font></td>
    <td width="70" align="center"><font size="-5"><strong>&nbsp;&nbsp;values<strong></font></td>
  </tr>
</table>
{winner}