<tr>
  <td>Membership: id# <b><font color="#CC0000">{membership_id}</font></b>
    <input size=35 type="text" name="name[{membership_id}]" value="{membership_name}"></td>
  <td width="130">Move Rank: {link_move}</td>
  <td>Promotion code:
    <input size=25 type="text" name="promo[{membership_id}]" value="{promo}"></td>
  <td>Referrals needed:
    <input size=3 type="text" name="referral[{membership_id}]" value="{referral}"></td>
</tr>
<tr>
  <td colspan=5><a href="do.delete.membership.php?id={membership_id}" onclick="return confirm('You may need this information in the future. Do you want full delete or just deactivate membership (temp delete)')">Delete</a> | <a href="templates.php?id={template_id2}">Edit Description Page</a> | <a href="templates.php?id={template_id}">Edit Members Download Page</a> | {active}<br>
    <br>
    {membership_checkboxes_description} </td>
</tr>
<tr>
  <td colspan="5">{membership_checkboxes} </td>
</tr>
<tr>
  <td colspan=5><hr></td>
</tr>
