<table border="0" cellspacing="0" style="border-collapse: collapse" width="98%" bgcolor="#ECFFFF">
  <tr>
    <td width="100%" bgcolor="#336699"><font color="#FFFFFF"><b>Mass Payment:</b></font></td>
  </tr>
  <tr>
    <td width="100%"><p>Value of the payment: {st}<strong>{value}</strong>{st1}<br>
        Value of payment if affiliate is jv1: {st}<strong>{jv1}</strong>{st1} or jv2: {st}<strong>{jv2}</strong>{st1} <br>
        Special payment value: <strong>{special}</strong> </p></td>
  </tr>
  <tr>
    <td><div align="right"><a href="edit.tier.php?id={level_id}">Edit</a> | <a href="do.delete.level.php?id={level_id}">Delete</a></div></td>
  </tr>
</table>
