<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{sitename} Admin Area</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language=JavaScript src='../editor/scripts/innovaeditor.js'></script>
<link href="../css/butterfly.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	background-color: #105110;
}
-->
</style>
</head>
<body leftmargin="0" topmargin="0" bottommargin="0" rightmargin="0" vlink="#0000FF" style="background-color: #E5E5E5">
<div align="center">
  <center>
    <div align="center">
      <center>        
        <table border="2" cellpadding="3" cellspacing="0" style="border-collapse: collapse" bordercolor="#000000" width="750" bgcolor="#FFFFFF">
          <tr>
            <td width="100%"><div align="center">
                <center>
                  <table width="740" border="0" cellpadding="5" cellspacing="0" bordercolor="#000000" bgcolor="#FFFFFF" class="box2" style="border-collapse: collapse">
                    <tr>
                      <td align="center" valign="top" bgcolor="#076C9F" width="365"><div align="left">
                          <h2><font color="#FFFFFF" size="3">{sitename} Admin Panel</font></h2>
                        </div></td>
                      <td align="center" valign="top" bgcolor="#076C9F" width="365"></td>
                    </tr>
                    <tr>
                      <td bgcolor="#E6F4FB" colspan="2" width="730" style="border-bottom-style: solid; border-bottom-width: 1; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1" bordercolor="#808080"><div align="center">
                          <p><a href="index.php">Settings</a> | <a href="siteoverview.php">Site Overview</a> | <a href="signup.settings.php">Signup Settings</a> | <a href="add.db.field.php"> Add New Fields</a> |&nbsp; <a href="members.php">Manage Members</a> | <a href="add.member.php">Add Members</a> | <a href="import.csv.php">Import 
                            Members</a><br>
                            <a href="promo.tools.php">Manage Promo Tools</a> | <a href="menu.php">Manage 
                            Menus</a>&nbsp; | <a href="templates.php">Site Templates</a> | <a href="generate.item.php">Generate New Pages</a> | <a href="faq.php"> Manage FAQ</a> | <a href="tags.php">Manage Tags</a><br>
                            <a href="autoresponder.php">Mail Utilities</a> | <a href="membership.php">Manage 
                            Memberships</a> | <a href="products.php">Membership Prices</a> | <a href="levels.php">Commission Structure</a> | <a href="a.adm.main.php">Pay 
                            Commissions</a> | <a href="keywords.php">SEO Optimization</a><br>
                            <a href="race.php">Contest Manager</a> | <a href="helpdesk.php">Help Desk({newmessages})</a> | <a href="logout.php">Logout</a>
                        </div></td>
                    </tr>
                    <tr>
                      <td colspan="2" width="730">{content}<br></td>
                    </tr>
                    <tr>
                      <td bgcolor="#E6F4FB" colspan="2" width="730" style="border-top: 1px solid #808080; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1"><div align="center">
                          <p><a href="index.php">Settings</a> | <a href="siteoverview.php">Site 
                            Overview</a> | <a href="signup.settings.php">Signup Settings</a> | <a href="add.db.field.php"> Add New Fields</a> |&nbsp; <a href="members.php">Manage Members</a> | <a href="add.member.php"> Add Members</a> | <a href="import.csv.php">Import Members</a><br>
                            <a href="promo.tools.php">Manage Promo Tools</a> | <a href="menu.php"> Manage Menus</a>&nbsp; | <a href="templates.php">Site Templates</a> | <a href="generate.item.php"> Generate New Pages</a> | <a href="faq.php">Manage FAQ</a> | <a href="tags.php">Manage Tags</a><br>
                            <a href="autoresponder.php">Mail Utilities</a> | <a href="membership.php"> Manage Memberships</a> | <a href="products.php">Membership Prices</a> | <a href="levels.php">Commission Structure</a> | <a href="a.adm.main.php">Pay 
                            Commissions</a> | <a href="keywords.php">SEO Optimization</a><br>
                            <a href="race.php">Contest Manager</a> | <a href="helpdesk.php">Help 
                            Desk({newmessages})</a> | <a href="logout.php"> Logout</a>
                        </div></td>
                    </tr>
                    <tr>
                      <td bgcolor="#076C9F" width="370"><div align="left"><strong> 
                        <font color="#FFFFFF"><font face="Times New Roman">&copy;</font> {year} - powered by
                          MarketingWebsiteGenerator.com</font></strong></div></td>
                      <td bgcolor="#076C9F" width="370"></td>
                    </tr>
                  </table>
                </center>
              </div></td>
          </tr>
        </table>
      </center>
    </div>
  </center>
</div>
</body>
</html>
