<body onLoad="{chck_funtions}">
<h2><font color="#076C9F">Add a new after login message</font></h2>
Here you can set up a message to appear after login. This can be set up a number of days after the user signs up and a number of logins.
<p><b><font size="4">Current&nbsp; Messages | </font> <a target="_self" href="#add">Add A New Message </a></b></p>
<form action="do.message.changes.php" method="post">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td> {message_list}</td>
    </tr>
  </table>
  <p>
    <input type="submit" name="Submit2" value="Do Changes">
    <font size="1"> <a href="login_msg.php">Cancel changes</a> <a name="add"></a></font></p>
</form>
<hr color="#076C9F" size="1">
&nbsp;
<form name="form1" method="post" action="do.add.message.php">
  <table width="902" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="2">Show this message after
        <input type="text" name="count" id="count"size="2"/>
        &nbsp;
        Login but no sooner than
        <input type="text" name="nr_days" id="nr_days" size="2"/>
        Days * </td>
    </tr>
    <tr>
      <td align="left" valign="top" width="187"><p align="right"><b>Show to: </b><br>
          &nbsp;</td>
      <td align="left" valign="top" width="513"><input name="msg_membership" value="all" checked="" type="radio" onClick="document.getElementById('membership_td').checked ? document.getElementById('membership_td').style.display='' : document.getElementById('membership_td').style.display='none'">
        All Members<br>
        <input value="just" name="msg_membership" type="radio" onClick="document.getElementById('membership_td').checked ? document.getElementById('membership_td').style.display='none' : document.getElementById('membership_td').style.display=''">
        Just These<br>
        <table id="membership_td" width="100" border="0" cellspacing="0" cellpadding="0" style="display:none">
          {membership_list}
        </table></td>
    </tr>
    <tr>
      <td colspan="2">Set message as active
        <input type="checkbox" value="1" name="active" id="active" /></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">Insert the Message: </td>
    </tr>
    <tr>
      <td colspan="2"><textarea id="contentb" name="contentb" rows=9 cols=70></textarea>
        <script> //STEP 2: Replace the textarea (txtContent)
		var oEdit0 = new InnovaEditor("oEdit0");
		oEdit0.REPLACE("contentb");
	</script></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
</body>
