<tr>
  <td>Item:
    <input type="text" name="name[{menu_item_id}]" value="{menu_item}"></td>
  <td>Enter Full URL or Local Path URL to go to when menu item is clicked
    <input name="link[{menu_item_id}]" type="text" value="{menu_item_link}" size="40"></td>
  <td width="100">Position: {link_move}
    <input name="position[{menu_item_id}]" type="hidden" value="{menu_item_position}"></td>
</tr>
<tr>
  <td colspan="2"><strong>Open in new window:</strong> <strong>{open}</strong> <strong>Active:</strong> <strong>{display}</strong> <strong>Displays to:</strong> {permission} members</td>
  <td><a href="do.delete.menu.item.php?id={menu_item_id}">Delete</a></td>
</tr>
<tr>
  <td colspan="3"><a href="javascript:void(window.open('menu.advanced.settings.php?id={menu_item_id}','','width={width},height={height}'))">Click Here for Advanced Settings</a></td>
</tr>
<tr>
  <td colspan="3">{afterlogin}</td>
</tr>
<tr>
  <td colspan="3">&nbsp;</td>
</tr>
