<script>
function checkedAll (checked,form_name) {
	var el = document.getElementById(form_name);
	
	
	for (var i = 0; i < el.elements.length; i++) {
	  	el.elements[i].checked = checked;
	}
}
function copy_to_empty(copy){
	var el = document.getElementById('form1');
	for (var i = 0; i < el.elements.length; i++) {
		if (el.elements[i].value == '')
	  		el.elements[i].value = copy.value;
	}
	
}
</script>
<table>
  <form id="form1" name="form1" method="POST" action="do.change.shipping.php">
    <input type="hidden" name="id" value="{id}" />
    <tr>
      <td colspan="3" align="right"> Check All
        <input type="checkbox" name="chk_all1" id="chk_all1" onclick="checkedAll(document.form1.chk_all1.checked,'form1')" /></td>
    </tr>
    {shipping_table}
    <tr>
      <td colspan="3" align="right"> Check All
        <input type="checkbox" name="chk_all2" id="chk_all2" onclick="checkedAll(document.form1.chk_all2.checked,'form1')" /></td>
    </tr>
    <tr>
      <td colspan="3" align="right"><input type="submit" value="Submit"/></td>
    </tr>
  </form>
</table>
