<tr class="box3" valign="top">
  <td><div align="left"><strong>{id}</strong></div></td>
  <td><div align="left"><strong><font color="#CC0000"><a href="members.php?action=search&criteria={id}&search=id" target='blank'><font size="+1">{member_id}</font></a>&nbsp;&nbsp;</font>{first_name}&nbsp;{last_name}<br>
      <font color="#CC0000"><b>&nbsp;&nbsp;{email}</b></font></strong></div></td>
  <td><div align="center"><strong>${amount}</strong></div></td>
  <td><div align="left"><strong>{status}</strong></div></td>
  <td><div align="left"><strong>{dt}</strong></div></td>
  <td><div align="center"><strong><font color="#CC0000">{buyer_id}</font></strong></div></td>
  <td><div align="left"><strong>{comments}</strong></div></td>
  <td><div align="left"><strong>{admin_note}</strong></div></td>
  <td><div align="left"><strong><a style=" text-decoration:underline; cursor:pointer; color:#0033FF" onclick='javascript:void(window.open("a.tr.note.php?id={id}","","width=442,height=200"))'>add/edit admin&nbsp;note</a></strong></div></td>
  <td><div align="left"><strong>
      <input type="checkbox" name="check[{id}]">
      </strong></div></td>
</tr>
