<tr>
  <td><input type="text" name="{field}" id="{field}" value="{field_name}" /></td>
  <td align="center"><input type="checkbox" name="atsignup[{field_id}]" id="atsignup[{field_id}]" value="1" {atchecked} {disabled}{disabled1}></td>
  <td align="center"><input type="checkbox" name="required[{field_id}]" id="required[{field_id}]" value="1" {reqchecked} {disabled}></td>
  <td></td>
  <td align="center"><input type="checkbox" name="membersarea[{field_id}]" id="membersarea[{field_id}]" value="1" {mchecked} {disabled}></td>
  <td width="130">Position: {link_move}</td>
  <!--	<td>Position:</td>
	<td> <input name="position[{field_id}]" type="text" value="{field_position}" size="3"></td>
-->
</tr>
