<table width="600" border="2" align="center" cellpadding="10" cellspacing="0" bordercolor="#111111" bgcolor="#CCCCCC" style="border-collapse: collapse">
  <tr>
    <td bgcolor="#000080"><b><font color="#FFFFFF">Commission Breakdown for 
      Product Name: </font><font color="#FFFF00">{product_name}</font></b></td>
  </tr>
  <tr>
    <td><div align="left">Price: {price} {currency} </div>
      <p align="center">{product_memberships}</p>
      <div align="center">
        <center>
        </center>
      </div>
      <div align="center">
        <center>
        </center>
      </div></td>
  </tr>
</table>
<p>&nbsp;</p>
