<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>We are sorry but...</title>
</head>
<body>
<h1>Verifying Payment </h1>
<p>Please wait while your payment is being verified with paypal/stormpay.</p>
<p>This page will refresh every 5 seconds...</p>
<p>If your payment is not verified in within 5 minutes please contact <a href="mailto:{siteowner}">{siteowner}</a>.</p>
<p>Thank You,</p>
<p>{sitename} staff. </p>
<script type=text/javascript>
// The time out value is set to be 10,000 milli-seconds (or 10 seconds)
setTimeout(' document.location=document.location' ,5000);
</script>
</body>
</html>
