<p>
<form name="form1" method="post" action="do.edit.note.php?id={note_id}">
  <table width="52%"  border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>Note Subject: </td>
      <td><input name="subject" type="text" id="subject" value="{subject}"></td>
    </tr>
    <tr>
      <td valign="top">Note Body: </td>
      <td><textarea name="body" cols="50" rows="10" id="body">{body}</textarea></td>
    </tr>
    <tr>
      <td valign="top"><input type="submit" name="Submit" value="Edit note"></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
